[2021-09-15 14:04] polarker opened #6 "Wallet relies on full node endpoint only ?"

[2021-09-15 14:33] polarker opened #7 "Data signing"

[2021-09-15 14:49] polarker opened #8 "Update StoredState"
https://github.com/alephium/alephium-js/blob/master/lib/wallet.ts

[2021-09-15 16:11] polarker opened #9 "Error of storage are not caught in wallet, or it is expect ?"

[2021-09-16 21:08] chloekek opened #11 "Web extension: enable opening the wallet as a tab instead of a popup"
When clicking the web extension toolbar icon it shows the wallet as a popup. Problem is that this popup is modal, so you can’t do anything else on the computer while the wallet is open; doing so will close the popup. It would be nice if there was a button to open the wallet as a browser tab.

Using alephium-wallet 0.10.2 in Firefox.

<details>

<summary>Click here to view screen recording</summary

[2021-09-16 21:20] #8 closed

[2021-09-17 06:58] polarker opened #12 "Show version number in settings"

[2021-09-21 15:33] polarker opened #13 "Investigate security vulnerabilities regarding connecting to public services"

[2021-09-23 06:00] tdroxler opened #17 "Optional BIP39 passphrase at wallet creation and restore"
In order to secure a bit more the mnemonic, we can already do it in the backend https://github.com/alephium/alephium/blob/975b343312a0513d3023399d4761f7ba0fb11fb5/wallet/src/main/scala/org/alephium/wallet/api/model/WalletCreation.scala#L26 basically this passphrase change the seed for a given mnemonic. So if someone steal the 24 words, he would still need to know that passphrase.

[2021-09-23 19:00] chloekek opened #18 "Dark theme"
The explorer has a pretty dark theme. It would be nice if the wallet had a similar theme.

[2021-09-23 19:02] chloekek opened #19 "Open the explorer in web browser by default"
In the Electron app, when clicking a transaction, or when clicking “Show address → Show in explorer”, the explorer is opened in a separate Electron window. It would be nice to have an option to open it in the user’s web browser instead.

[2021-09-23 19:12] tdroxler commented on #18
ahah we discuss this today with @mvaivre . I heard this should happen soon©

[2021-10-11 13:40] Sakrecoer opened #21 "Confusion arise when importing 24 secret words after password loss."
When the user is locked out of their account due to missing password, recovering from the 24 secret words is rejected if the account name entered already exists.

Error message is `username already taken` which is slightly confusing since we call it `Account Name` in GUI

![image](https://user-images.githubusercontent.com/3484593/136798971-3bd6525e-3ca3-4448-a199-45e5de031ce9.png)

![image](https:

[2021-10-11 14:39] polarker commented on #21
My sister had a similar feedback on this

[2021-10-13 08:20] mvaivre opened #22 "Allow pressing "enter" to validate any form"
Either wrap all set of inputs in a <form/> tag, or listen for the keyboard event.

[2021-10-13 10:14] mvaivre opened #23 "Allow deleting wallets without having to log in"
Implement a section in the settings modal, where all the accounts are visible in a list, and where it's possible to delete one by one without requiring the password.

[2021-10-13 10:41] mvaivre opened #24 "Decide if we adapt the wallet import user flow"
Should we inverse creating the account (name, password) and importing the mnemonic?
If yes, we would need to refactor the way we create the wallet and store the encrypted data.

[2021-10-19 08:08] Sakrecoer opened #27 "QR-code broken in dark theme"
The QR code needs a white border in order for QR readers to pick it up correctly when using the dark theme.
![image](https://user-images.githubusercontent.com/3484593/137869336-ea3c2f8e-1957-40d3-8926-b483ea3270a1.png)

[2021-10-19 10:08] mvaivre opened #29 "Add linting and audit to CI"

[2021-10-19 14:24] mvaivre commented on #29
Done in #30

[2021-10-22 17:33] #27 closed, assigned to nobody

[2021-10-23 10:06] mvaivre opened #31 "Mainnet launch: use mainnet addresses by default"

[2021-10-23 10:06] #29 closed, assigned to mvaivre

[2021-10-27 12:48] mvaivre opened #32 "Support Apple silicon (universal app)"
Current version forces user to install Rosetta.
Let's build mac binaries with both x86 and arm64 version packaged.

[2021-10-28 14:35] polarker opened #35 "Make Gas configurable"
Gas could be an advanced setting configurable in the "send transaction" modal.

This need to be designed, and validated with the backend team.

[2021-10-30 01:16] 0xjac opened #36 "Provide checksums of release binaries"
It would be great if a checksum file could be provided alongside the binaries of releases to check the integrity of the files.

Ideally if the binaries could be signed as well, it would be awesome!

[2021-10-30 01:41] 0xjac opened #37 "Improve the help menu"
The help menu is empty :disappointed: (see screenshot below)
It would be nice to have:
1. The wallet version
2. A "Report a bug" link which points to a new issue on this repo (i.e. https://github.com/alephium/alephium-wallet/issues/new) to let users easily provide feedback
3. Optionally a help/support link which points either to some documentation or to the discord chat

Also the "File" and especi

[2021-10-30 06:37] mvaivre commented on #37
Thanks for your feedback. Good suggestions, we'll make sure to add them to our backlog!

[2021-10-30 06:38] #32 closed

[2021-10-30 07:10] mvaivre commented on #31
We could have a toggle with 2 presets (mainnet / testnet) in the settings view, maybe hidden under an "Advanced" or "Developper" expandable section.

[2021-11-01 09:55] mvaivre opened #38 "Passphrase check: sort words alphabetically"
This would make the process easier, while still forcing users to check the words properly.

[2021-11-01 19:44] 0xjac opened #42 "Packing the extension is broken (because of zip)"
Trying to build the extension with `npm run-script extension-pack` fails for me with: `sh: line 1: zip: command not found`.

<details><summary>full log</summary>

[code]

</details>

Looking at the npm run script:
[code]
I think this is due to `zip` missing on my system.

I'd suggest switching from `zip` which can be missing on many systems, esp. Linux which uses `tar`/`bsdtar` by default to [`web

[2021-11-01 20:40] polarker commented on #42
Hi Jacques @0xjac, many thanks for the issue report as well as the other issues.

It would be great if you could create a PR with your fix. I will add a Github action test after your PR

[2021-11-01 22:08] 0xjac commented on #42
@polarker done in #43 I tested it and I can build the zip correctly and install it in Firefox as a temporary extension.

[2021-11-02 01:11] #42 closed

[2021-11-02 01:19] polarker commented on #42
@0xjac I added a CI test for Linux, Windows and Macos in #44. Your fix works for all of the platform now.

Also added 500 ALPH bounty for your help :)

[2021-11-02 09:38] mvaivre opened #45 "Fix browser extension layout issues"
![image](https://user-images.githubusercontent.com/6715943/139821874-2389a35c-9bd9-40c1-a435-c68e3895659c.png)

Time to refine the extension after the release of the desktop ones.

[2021-11-02 10:26] #38 closed

[2021-11-02 14:57] #37 closed

[2021-11-08 16:11] mvaivre opened #48 "Aggregate pending TXs per network"
Previous pending TX are still displayed if the user switch from one network to another.
Either find a better way to fetch pending queries (best option, check with @tdroxler) or store pending TXs per network config.

[2021-11-09 09:27] #31 closed

[2021-11-10 12:31] mvaivre opened #50 "Show amount of locked tokens"
We could display information about part of the balance that is locked.
Need some work on the backend @tdroxler
To be refined.

[2021-11-10 12:31] mvaivre commented on #6
@polarker can we close this?

[2021-11-15 15:18] polarker opened #51 "Support api-key for node host"
We could config `alephium.api.api-key`  to make the endpoint access limited. @tdroxler is guy to go if you need more details.

[2021-11-16 13:54] mvaivre opened #52 "Ask for password when sending a transaction"

[2021-11-16 15:34] polarker opened #53 "Customized nodeHost does not work"

[2021-11-17 09:38] mvaivre commented on #53
We'll remove the pseudo "health-check" done in alephium-js.
We won't check the connection to the node for now, users will see an error when sending a TX if not configured properly.

[2021-11-22 09:00] mvaivre commented on #53
Note: the error the user had is probably related to the absence of the protocol "http://" in the url. I'll append it by default if an IP is set.

[2021-11-22 10:38] tdroxler opened #54 "Genesis token allocation are marked as `Mining Reward`"
We could check the timestamp when there's no inputs and mark something else or maybe check height == 0.

[2021-11-22 15:47] polarker opened #56 "Integration wallet extension to Boubacar's dApp demo"

[2021-11-22 15:52] polarker commented on #6
@mvaivre the idea is to remove the dependency on explorer-backend's endpoint. Which part do we need the host of explorer-backend ?

[2021-11-22 16:25] mvaivre commented on #6
Ah, I didn't understand the task properly then.
The explorer backend is used to get all the read-only values (balances, transactions...). We did that to offload the node.
The node is only called when sending a TX.

cc/ @tdroxler

[2021-11-22 16:36] #6 closed, assigned to nobody

[2021-11-22 16:36] polarker commented on #6
I see, thanks ! Let's close this for now. I will investigate metamask a bit more, as they seems to do differently

[2021-11-23 08:10] mvaivre commented on #56
This is a big one, as it requires to implement web 3.0 standards for communication between the extension and the dApp. I suggest we split this one in several tasks, from investigation to integration.

cc/ @nop33

[2021-11-23 08:28] mvaivre opened #57 "Add a "localhost" predefined setting choice"
Auto config for running the stack locally.

[2021-11-24 13:24] mvaivre opened #59 "Investigate standards for dApps <-> Browser extension communications"
We need to allow using our browser extension to interact with dApps.
We should follow Web 3.0 standards, and take Metamask as our main source of inspiration.

- Metamask repo https://github.com/MetaMask/metamask-extension
- Web 3.0 libraries: https://github.com/ChainSafe/web3.js

### Subtasks

**Design and planning**

- [ ] Investigate what are Metamasks' main dApp methods
- [ ] Design the main us

[2021-11-24 14:20] mvaivre opened #60 "UX improvements"
The mainnet launch is DONE and we've successfully delivered all needed features.
Now is the time for some UX polish ✨

We're focusing on removing little inconsistencies, clearing confusions and giving a bit more control through advanced features.

### New features

- [x] #57
- [x] #19
- [x] #23
- [x] #87
- [x] #50
- [x] #35

### Bugs

- [x] #53
- [x] #54
- [x] #48

[2021-11-24 14:24] mvaivre commented on #19
We could actually open the explorer in the web browser *by default*.

[2021-11-24 14:25] nop33 commented on #60
Should we include a task _"Make use of alephium-js in explorer"_ or is this not part of the UX polish? It's more of code-UX I guess 😅

[2021-11-24 14:28] mvaivre commented on #24
Let's reconsider that if/when we'll receive feedback from our community.

[2021-11-24 14:28] #24 closed, assigned to mvaivre

[2021-11-24 14:30] mvaivre commented on #60
Yep, not a UX task. This will be a standalone "epic" I believe :)

[2021-11-24 14:31] mvaivre opened #61 "Ability to sign smart contracts' transactions (dApp interaction)"
The main goal of this task is to open up the wallet to dApps interaction, the first of which being our voting demo app (PoC), followed by the future swap service.

The main "basic" feature needed is a signer: a way to validate and sign smart contract transactions.

In order to do that, we first wanted to "duplicate" the desktop wallet into a new browser extension, but other solutions exist and nee

[2021-11-24 18:09] #57 closed

[2021-12-01 07:34] #53 closed

[2021-12-06 09:21] #19 closed

[2021-12-07 08:43] nop33 opened #69 "Upgrade `react-router-dom` from v5 to v6"
There have been many breaking changes between v5 and v6. Here's a guide explaining the upgrade procedure: https://reactrouter.com/docs/en/v6/upgrading/v5

[2021-12-07 11:01] #54 closed

[2021-12-08 16:07] mvaivre opened #71 "Allow deriving new addresses"
Users need to be able to derive multiple addresses, for multiple groups.
This will be especially useful when interacting with dApps.

Here are the 3 scenarios we foresee for address derivation:

- [x] Derive address in random group (by default)
- [x] Derive address in defined group
- [x] Derive one address per group (mining purposes)
~~Derive address for defined path~~

### Design

- [x] Create mo

[2021-12-08 16:18] mvaivre opened #72 "Tokens support"
We need to support displaying tokens (name, amount) in our main wallet, and allow for sending them around.

Features

- [ ] https://github.com/alephium/alephium-js/issues/10

**TBD**

[2021-12-09 09:56] #48 closed

[2021-12-13 14:03] mvaivre opened #75 "Discreet mode: obfuscate all amounts"
When used in public, some users may like to hide amounts for privacy reason.

A discreet mode toggle situated in the top toolbar could automatically obfuscate all amounts (which could be replaced by stars "*") for instance.

[2021-12-13 15:27] mvaivre opened #76 "Focus on security and privacy"
Improving the felling of security through a series of new features and options.

### New features

- [x] #52
- [x] #75

[2021-12-13 16:54] diomark opened #77 "When launching alephium wallet a second time on Windows, it offers option to import/start new wallet"
I had alephium wallet running in the background and didn't realize it. launched alephium wallet again and it gave me the option to import/start new wallet.. might be confusing to some. (I almost re-imported my keys before realizing I had it running backgrounded in a different window).

It's basically launching a second instance instead of focusing on the already launched instance.

[2021-12-14 07:57] nop33 commented on #77
Hi @diomark, thanks for the feedback. Which version of Windows are you using?

When you say that the wallet was running in the background, do you mean that there was a window open and hidden behind other windows? Or that all windows of the application were closed and the process was still running in the background?

Was this the screen you saw when you opened the application the second time, after

[2021-12-15 08:08] nop33 opened #79 "App is unresponsive when restarted with localhost services down (in dev mode)"
Steps to reproduce:
1. Start local services (node, miner, explorer-backend)
2. Run the wallet app and set the network settings to "Localhost"
3. Quit the app and all local services
4. Restart the app

Error:

[code]

[2021-12-15 08:09] mvaivre commented on #79
Is it the case in the prod release (not only in dev mode)?

[2021-12-15 08:17] nop33 commented on #79
Nope, only dev mode, thankfully. I'm working on fixing this.

[2021-12-15 08:48] #79 closed

[2021-12-15 09:25] nop33 opened #81 "Fix React app dev reloading issue due to CSP"
See discussion in https://github.com/alephium/alephium-wallet/pull/78#discussion_r769409186

[2021-12-15 12:16] #81 closed

[2021-12-15 13:22] polarker commented on #77
@nop33 @mvaivre  is this related to our latest fix PR? If so, we need to assign a bounty for this issue report

[2021-12-15 16:13] nop33 commented on #77
I haven't been able to reproduce this on my macbook, waiting for input from @diomark. I can check with @Arbaba who is using Windows, when I see him on Friday.

[2021-12-15 16:14] diomark commented on #77
Windows 10 [Version 10.0.19043.1348]

The existing wallet window was just hiding behind other windows (i.e. functioning correctly/not crashed)

This is pretty easy to replicate -

Start alephium wallet, login

Start alephium wallet again (from start menu. It will give the options of new wallet or importing wallet (vs just focusing on the already opened wallet)

[2021-12-15 18:40] diomark commented on #77
btw - yes - that's the screen that shows up when launching a second time. (option for new wallet or importing)

[2021-12-16 14:05] jonathanhatch opened #86 "Slf4jLogger started"
Do we need to be concerned about the full node running this logger? It seems to be a hot topic these days.

[2021-12-16 15:09] tdroxler commented on #86
Slf4j isn't a logging library, it's a abstraction above which then allows to use any library.

We are using logback as a logging library and it doesn't seem to suffer the same problem as log4j: http://slf4j.org/log4shell.html
but reading that article I realize we should upgrade our logback to `1.2.8` (cc/ @polarker ).

[2021-12-16 15:51] polarker commented on #86
We are not affected by log4shell. I checked that 1 day after it.

It's good to upgrade to `1.2.8` tho, due to possible vulnerability of logback

[2021-12-16 16:21] jonathanhatch commented on #86
Brilliant. Thank you all for your diligence. I appreciate it.

[2021-12-17 13:43] #86 closed

[2021-12-20 09:26] nop33 opened #87 "Make wallet lock time configurable from the settings page"
@polarker forwarded on Slack this request from a user who performs many transactions and the current (3min) lock time is to short for him resulting in frequent wallet locks.

[2021-12-20 11:33] nop33 commented on #77
I managed to reproduce the issue. I still haven't found a solution. Some notes during my debugging:

- We create new windows only when 2 events get triggered: `ready` and `activate`.
- Even when commenting out the callback of the `activate` event completely, when clicking the installed Windows Alephium app it still opens a second window. The only place where `createWindow` is now called is in the

[2021-12-20 11:48] #23 closed

[2021-12-21 13:15] polarker commented on #77
Is this the same for Macos ?

[2021-12-21 13:28] nop33 commented on #77
No. Everything works fine there.

[2021-12-21 14:40] nop33 commented on #77
It turns out that this is not a bug. This is the expected behavior on Windows. Here is an example with another popular electron app (Visual Studio Code). As you can see in the demo, double-clicking the executable opens a new window, exactly as it happens with our wallet.

https://user-images.githubusercontent.com/1579899/146947736-1f29af74-2252-4da1-a5a3-2e5bc50b95ac.mp4

[2021-12-21 14:41] nop33 commented on #77
However, if an account has already been created, the second window should display the Login page, not the new wallet creation/import page.

[2021-12-21 14:50] nop33 commented on #77
For the record, here's a demo of the problem:

https://user-images.githubusercontent.com/1579899/146949458-c8809220-a1de-4633-923b-78dc40011881.mp4

[2021-12-22 07:55] #77 closed

[2021-12-22 11:02] nop33 opened #92 "WIP: Implement tests"
## `src/pages/Wallet/WalletHomePage.tsx`
- [ ] The app header turns to compact when scrolling
- [x] Correctly fetches and displays latest balance and number of transactions on initial load
- [ ] Correctly fetches and displays latest transactions on initial load
- [ ] Snackbar is displayed when there is an error fetching initial data
- [x] Correctly updates balance and number of transactions when r

[2021-12-22 12:58] nop33 commented on #50
@mvaivre

Here are my 2 proposals.

| Text, no tooltip | Less text, tooltip when hovering |
| --------------- | -------------------------------|
| In this version we explain with a few words that a certain part of the total balance is locked. No need to explain any further with the use of a tooltip. | In this version we have a more minimal UI, but we might need to add some further explanation when

[2021-12-22 16:39] mvaivre commented on #50
Def the second option IMO :)

[2021-12-23 16:54] #87 closed

[2022-01-03 16:49] polarker commented on #17
I am a bit against this proposal. I think that creation should go without a mnemonic and restorisaztion should go with a provided mnemonic always. Am I missing anything?

[2022-01-04 06:47] nop33 commented on #17
@tdroxler you are referring to the so-called 25th word (aka passphrase) which given the 24 words it creates a new wallet, correct? (similar to Ledger: https://www.ledger.com/academy/passphrase-an-advanced-security-feature)

Since this would be an advanced feature, an idea would be that it doesn't need to be part of the wallet creation workflow. It could be found in the settings of the wallet (same

[2022-01-04 10:58] polarker commented on #17
Sorry, forgot my brain fart 😓 It was about mnemonic passphrase!

[2022-01-07 12:42] polarker opened #101 "Sweep to the same address to reduce the number of UTXOs"
If the user wants to make a large tx using many UTXOs, the tx cannot be built due the limits on tx inputs and gas. We'd suggest users to merge the existing UTXO with `sweep-address` endpiont.

[2022-01-10 10:19] #52 closed

[2022-01-10 16:51] nop33 commented on #17
I have many questions on how to implement this!

Supposing we want a similar implementation as [Ledger's hardware wallet](https://www.ledger.com/academy/passphrase-an-advanced-security-feature), where using a passphrase essentially "unlocks" a new wallet.

## Creating a passphrase

I suggest that the creation of a passphrase takes place *AFTER* the initial wallet has been created.

| Step 1 | Step

[2022-01-10 20:18] polarker commented on #17
@nop33 As far as I see, the article is about the theory side, not about implementation. Could you check how it's implemented in Ledger? Shall we copy Ledger? How is other desktop wallet supporting passphrase?

[2022-01-10 20:21] polarker commented on #17
Please checkout with Thomas on wallet design details. The ataching thing proposed is not doable as far as I see

[2022-01-11 06:59] nop33 commented on #17
Sorry @polarker, I meant to post this article with the step by step process: https://support.ledger.com/hc/en-us/articles/115005214529-Advanced-passphrase-security?docs=true

[2022-01-11 14:01] nop33 commented on #17
After discussing several security and UX approaches with @tdroxler & @mvaivre, we agreed that we want to find the sweet spot between high security and great UX. What we want is:

1. Help users protect themselves in case their 24 words get stolen
2. Help users protect themselves in case of threat (5$ wrench attack) to reveal 24 words and passwords (give them the benefit of [plausible deniability](h

[2022-01-11 19:48] polarker commented on #75
Features like this are of lower priority and are nice to have. There are other important features with high priority and take time IMO

[2022-01-11 19:53] polarker opened #103 "Make auto-lock timeout configurable"

[2022-01-11 19:57] polarker commented on #101
@mvaivre This is high priority. Please consider to support this with high priority. It will be later if more users have this issue. I already got 2.

As we are discussed, we will use `UTXO consolidation` for the naming

[2022-01-11 19:59] polarker commented on #101
How should this high priority be reflected in your project management?

[2022-01-11 20:00] polarker commented on #103
@mvaivre What should I do to add this into your project board?

[2022-01-11 20:30] polarker commented on #17
@nop33 LGTM. Please chat with @tdroxler regarding how to store and verify passphrase

[2022-01-11 21:50] nop33 commented on #103
This is already implemented and merged on master: https://github.com/alephium/alephium-wallet/pull/89

[2022-01-11 22:10] nop33 commented on #101
I'll start working on this tmr and treat it as highest priority

[2022-01-11 22:12] mvaivre commented on #101
Yes, we're on it, it was discussed yesterday  [here](https://alephium.slack.com/archives/C026MHDJD2N/p1641559534009700?thread_ts=1641559534.009700&cid=C026MHDJD2N)

[2022-01-12 02:33] polarker commented on #103
Thanks. I am closing it!

[2022-01-12 02:33] #103 closed

[2022-01-12 06:40] tdroxler commented on #17
@polarker yep we discussed it yesterday too, we will use the same double hash as in the node. The seed won't be store anymore in the secret file either and will be computed on creation/restore/unlock and store in memory. We will now have the same level of security as in the node, maybe even more as we well have this "decoy" wallet, which I found a great idea, maybe we could do the same in then nod

[2022-01-12 10:31] #50 closed

[2022-01-13 09:23] #75 closed

[2022-01-13 10:07] #76 closed

[2022-01-13 10:12] #60 closed

[2022-01-13 16:03] nop33 opened #109 "Wallet header color does not respect Windows dark theme setting"
A friend of mine reported this issue to me. As seen in the screenshot, all other apps headers are in dark mode, but our wallet still has a bright header.

![image](https://user-images.githubusercontent.com/1579899/149364909-d60e8a02-fda9-4832-893a-f6eacfc6a6c3.png)

[2022-01-13 16:15] nop33 commented on #9
More info needed

[2022-01-13 16:16] nop33 commented on #7
More info needed

[2022-01-13 16:46] mvaivre commented on #35
Yep

[2022-01-13 16:47] #35 closed

[2022-01-13 17:49] nop33 opened #110 "Tiny amounts overflow container"
![image](https://user-images.githubusercontent.com/1579899/149382511-367f20a5-43b4-4c07-be85-35a7488ce030.png)

[2022-01-13 19:01] nop33 opened #112 "Display expected fee by calling an endpoint using the unsignedTx"
@polarker could you please provide some more info? Don't worry though, I'll have a look and figure it out on Swagger next week.

[2022-01-14 08:19] tdroxler commented on #112
when you `/build` your transaction, you receive an `unsignedTx` as an hex string. You can then call the `/decode` endpoint to get a readable format of the `unsignedTx`. In that readable format you can find the fees that were automatically computed.

[2022-01-14 08:30] tdroxler commented on #7
we want to be able to sign any data with the private key of the wallet, the same way we can with the `/wallet/<name/sign` endpoint in the node. This is useful when you need to prove to someone that your public key is really your.
But I guess we also then need a feature like the `/utils/verify-signature` endpoint.

[2022-01-14 08:56] polarker commented on #112
@tdroxler the `/decode` endpoint is very expensive. It should be better to return `gasAmount&gasPrice` in the response of `/build`

[2022-01-14 09:48] tdroxler commented on #112
good idea, we could also return more info if needed, maybe even the full data which is returned by the `decode`. Since we `encode` it just before responding: https://github.com/alephium/dev-alephium/blob/2bbb499295b652c1dcb91691a70017d354e80d28/api/src/main/scala/org/alephium/api/model/BuildTransactionResult.scala#L37

[2022-01-14 11:08] polarker commented on #112
Let's don't add too many fields for now to keep the response as lightweight as possible. It's always easier to add new fields than to remove fields

[2022-01-15 08:32] Hammerkem opened #113 "Mining"
Создание майнинг кошелька возможно ?

[2022-01-17 07:57] nop33 commented on #112
@tdroxler / @polarker let me know when the endpoint will be updated so I can start working on this, thanks!

[2022-01-17 09:02] nop33 commented on #113
You will get better support from the community on our Discord! We have a wallet dedicated channel, as well as a Russian one!

https://discord.gg/c2dRf6mV

To quickly answer your question: the desktop wallet generates an address in a random group at the moment. To create a mining wallet and mine solo (not joining in a mining pool), you need one address in each group. So it is recommended to do it t

[2022-01-17 09:02] #113 closed

[2022-01-17 09:12] nop33 commented on #101
@polarker @mvaivre I guess we can close this one now that the feature is implemented, correct?

[2022-01-17 09:18] polarker commented on #101
LGTM

[2022-01-17 09:18] #101 closed

[2022-01-17 09:19] nop33 commented on #45
Probably related: https://github.com/alephium/alephium-wallet/issues/110

[2022-01-17 10:30] polarker commented on #112
@tdroxler please help me on this task: https://github.com/alephium/alephium/issues/500

[2022-01-17 14:22] nop33 commented on #17
Since this task is not the highest priority anymore, I am unassigning myself. Happy to work on it when again whenever possible!

[2022-01-17 14:43] blackmennewstyle opened #115 "ARM64 support on Linux"
Hello talented devs :)

Can we hope for some arm64 support in the future? I'm planning to install the wallet on a Raspberry Pi 4 8GB running GNU/Linux Debian 11 - kernel 5.10.0-9-arm64, is it possible at the current stage of the project? If not, will it be possible in the future? :$

[2022-01-17 15:30] nop33 commented on #71
As agreed in a call with @mvaivre and @tdroxler, and as it can be seen in the mockups:
- In the addresses page, the user will be able to click "Derive new address"
- This opens up a modal where the user can optionally specify the group they would like the address in
- If no group is given, an address win a random group will be generated by calling the appropriate method locally.
- This method acce

[2022-01-17 15:34] mvaivre commented on #115
Hey there, thanks for your message!
The ARM64 architecture is not yet supported on Linux, mostly due to the lack of demand so far. But here you are...
So yeah, we can definitely hope for some arm64 in the future, probably in the next release! ;)

[2022-01-18 00:19] blackmennewstyle commented on #115
Nice :)
Merci beaucoup Mikaël !
Enjoy your week :)

[2022-01-18 08:30] nop33 opened #116 "Find a clearer way to display amounts"
I had this discussion with @mvaivre the other day:

Something that has been bugging me a lot and I see other people having the same issue: I find it hard to distinguish the abrreviated amounts.
1.000K ℵ
1.123 ℵ
1.002K ℵ
1.002 ℵ
It all looks too similar, especially when they are aligned on the right, as it is the case in the wallet (and also explorer).

Using 3 decimal points is triggering the "tho

[2022-01-18 08:32] polarker commented on #116
How does Metamask do it?

[2022-01-18 08:54] nop33 commented on #116
| Metamask | BRD | Argent |
| ---------- | -----| -------|
| Metamask seems to display full precision, abbreviating unnecessary 0s, with no decimals when not needed. I don't know how to test to see how they display values > 999 and > 999999. | Bread wallet seems to be using full precision. I also don't know how to test large amounts. | Argent seems to use max 4 decimals, abbreviating 0s when possi

[2022-01-18 08:58] mvaivre commented on #116
Thanks for summarising the discussion in this Issue @nop33.

I'm also in favour of:

- Showing 2 decimals by default for numbers >= 1.00
- Showing more decimals for small amounts (3 or full precision, design choice depending on where it is in the UI.)
- Not using the letter for thousands, starting only with M.
- Adding a separator for better readability (15'430.00). Let's not use a comas, which I

[2022-01-18 11:15] polarker commented on #116
I have a simpler proposal: we keep 5 numbers always, which means the error is always less than `0.1%`. We could remove the ending zeros, or keep the ending zeros.

In this format, the following are valid: `2.1024, 21.024, 210.24K, 2.1024K, 21.024K`.

How do you think?

[2022-01-18 15:37] nop33 commented on #116
What do you mean _"the error is always less than 0.1%."_? Which error?

I personally don't like it so much with always displaying 5 decimals (see screenshot). I like it much more with 2. However, I would still remove the trailing "0"s when they are not needed.

| 5 decimals | 2 decimals |
| ----------- | ---------- |
| ![image](https://user-images.githubusercontent.com/1579899/149964907-f1284b95-a

[2022-01-18 15:53] nop33 commented on #116
I think this is already a great improvement:

- 5 decimals for small values (< 1 ALPH)
- Rounding to 2 decimals when > 1 ALPH
- No decimals when the amount is an integer

![image](https://user-images.githubusercontent.com/1579899/149971193-db07e078-b4f7-437f-8e51-c81db0660a9c.png)

![image](https://user-images.githubusercontent.com/1579899/149971317-4c35e829-fc8c-4191-8308-2c9fd808fa82.png)

[2022-01-18 16:09] mvaivre commented on #116
I think @polarker was saying 5 numbers in total (including the decimals), not 5 decimals.

But IMO this doesn't help readability, as it's hard to distinguish quickly if some amounts are bigger than others. If we take the example above and stack the numbers:

| 5 numbers | Option discussed before |
| --- | --- |
| 2.1024 | 2.10 |
21.024 | 21.02 |
2.1024K | 2'102.40 |
21.024K | 21'024 |
210.24K | 21

[2022-01-18 16:14] nop33 commented on #116
Check the images again, I updated the instead of making a new comment to spam less, but in retrospect I should have done a new comment I guess 😅

Ah! Misunderstood.

Agreed.

I personally like it, it's very clean and straightforward.

[2022-01-18 16:17] nop33 commented on #116
Adding two 0s as decimals in integers, it would look like this. Also nice.

![image](https://user-images.githubusercontent.com/1579899/149975804-a63ce227-9348-4db4-a96d-6aebfd5de095.png)

![image](https://user-images.githubusercontent.com/1579899/149975668-fc421590-8ece-4766-a312-c4b82ad5dbb1.png)

[2022-01-18 16:20] chloekek commented on #116
Some wallets show decimals in smaller font. This very clearly distinguishes them from digits in the integer part.

[2022-01-18 16:25] mvaivre commented on #116
That could be interesting, and may be worth a quick experiment.
Note: we would keep a regular size if the amount is < 1.
WDYT @nop33 ?

[2022-01-18 16:27] nop33 commented on #116
I think it will not look good, but I can experiment with it tmr!

[2022-01-18 16:29] mvaivre commented on #116
Rather than playing with the `font-size` we could reduce the `opacity` a bit, which would probably look better as we conserve the layout alignements.

[2022-01-18 18:39] polarker commented on #116
Update, with 5 numbers (not decimals), the error is less than `0.01%` always.

[2022-01-18 18:41] polarker commented on #116
We need to consider both precision and user experience. For precision we need to set an upper bound for errors. `0.01%` might be a nice one. For better user experience, we might not want to show too many digits, so 5 or 6 numbers is good.

[2022-01-19 08:04] nop33 commented on #116
Considering both precision and UX, I think the solution below covers everything:

- Amounts <= 0.001 are rounded up to the 5th decimal point, to cover cases like #110
- Amounts > 0.001 and < 0.01 are rounded up to the 3rd decimal point, to show a meaningful amount in cases of small gas fees like for consolidation transactions
- Amounts >= 0.01 and < 1'000'000 are rounded to the 2nd decimal point a

[2022-01-19 08:40] mvaivre commented on #116
LGTM! I'm not sure about the font-size change though - as discussed, let's not touch the digit's styling for now, I'll continue iterating in my mockups.
Regarding your comments @polarker, for now the 100% precise amounts can be consulted with just one click in the explorer. In an upcoming iteration (working on mockups now), the precise data will be directly displayed in a dedicated panel in the wa

[2022-01-19 10:36] polarker commented on #116
LGTM!

[2022-01-20 09:48] polarker commented on #112
@nop33 API is updated. In `BuildTransactionResult`, there are `gasAmount` and `gasPrice` now. I will try to release `1.2.5` by the end of this week

[2022-01-20 11:09] nop33 commented on #116
Closing issue since https://github.com/alephium/alephium-wallet/pull/117 was merged

[2022-01-20 11:09] #116 closed

[2022-01-20 11:09] nop33 commented on #110
Fixed by https://github.com/alephium/alephium-wallet/pull/117

[2022-01-20 11:09] #110 closed

[2022-01-31 13:16] mvaivre opened #119 "Create a right click menu for copy/paste operations"
Let's keep it simple for now, with simple copy / cut / paste choices.

[2022-01-31 16:24] mvaivre commented on #71
Thanks @nop33 for centralising the discussion here, where it should be. @polarker An important friendly note about working habits : the mockups have been shared here 3 weeks ago and free for everyone to review. I've also pasted the link here and there (Github, Slack, PM) to make sure those are actually consulted.

Talking about the design and flows *after* implementation is *really* something we s

[2022-01-31 18:22] polarker commented on #71
@mvaivre I think I try to spot the issues as early as possible, but it's not always possible. At least, it's never possible for backend design. We have to investigate (where we brainstorm), prototype implementation (where we might spot more issues), and go for final design. Even after the final design, we would still refactor the code if it's needed.

I only had the feedback until I saw @nop33's v

[2022-02-04 03:51] BBFLYMINING opened #122 "How to reset my password in Alephium wallet?"
I use the same password today at 11am (Singapore time zone) but the wallet keep reject me saying invalid password. May i know any method to reset the password?

[2022-02-04 08:12] polarker commented on #122
It must be that you mistyped when you create the wallet. You will have to restore the wallet with your 24 mnemonic words.

[2022-02-06 14:04] MrAllusive opened #123 "Mining balance"
Hello! I was curious, I have been mining for 6 1/2 hours and the balance in your wallet still shows 0. I was wondering is there a minimum threshold? Thanks

[2022-02-06 16:52] nop33 commented on #123
Hello @MrAllusive! There's no threshold, the full precision of the address holding's should be shown if you press the "refresh" button on the top right. You can also check your addresses in the [explorer](http://explorer.alephium.org/).

[2022-02-06 18:07] #123 closed

[2022-02-06 18:07] MrAllusive commented on #123
I was able to figure it out. Thanks so much for your help!

[2022-02-11 13:10] Jon1111jo opened #125 "money transaction"
02/08/2022 at 12:40 made a transfer of funds to the wallet 18PXTAkd6TQtV7X4cg2FEeLaUgyjoYG8tLUf44taGKeZb but the funds were not received. Solve the problem.

[2022-02-11 13:32] Jon1111jo commented on #125
1. 1GZ7Z9eHp7w4zooAgXpHmgGemmGqT9s246LsbMaBnCKLK

![image](https://user-images.githubusercontent.com/99485222/153600192-cef1c9c2-d484-4d4a-9759-becb3689e756.png)

[2022-02-11 13:40] Sakrecoer commented on #125
You sent the fund to 18PXTAkd6TQtV7X4cg2FEeLaUgyjoYG8tLUf44taGKeZB
instead of the one you mentioned [here](https://github.com/alephium/alephium-wallet/issues/125#issue-1132577825) which is: 18PXTAkd6TQtV7X4cg2FEeLaUgyjoYG8tLUf44taGKeZb

They look similar but the last letter is "b" in one and "B" in the other. It's case sensitive.

https://explorer.alephium.org/#/addresses/18PXTAkd6TQtV7X4cg2FEeLaU

[2022-02-11 13:40] nop33 commented on #125
It seems that you sent `50.01` ALPH to the address:
- [`18PXTAkd6TQtV7X4cg2FEeLaUgyjoYG8tLUf44taGKeZB`](https://explorer.alephium.org/#/addresses/18PXTAkd6TQtV7X4cg2FEeLaUgyjoYG8tLUf44taGKeZB), and not to address:
- `18PXTAkd6TQtV7X4cg2FEeLaUgyjoYG8tLUf44taGKeZb` (notice the last character, it's lower case instead of upper case). The addresses are case-sensitive.

Here is the transaction: https://

[2022-02-11 13:42] nop33 commented on #125
The only way to retrieve the funds from the address 18PXTAkd6TQtV7X4cg2FEeLaUgyjoYG8tLUf44taGKeZB is to have the private key (or mnemonic phrase) of the wallet that generated this address.

Closing issue.

[2022-02-11 13:42] #125 closed

[2022-02-11 15:08] #122 closed

[2022-02-14 00:19] Biolite80 opened #126 "Wallet Password Issue"
This is the second time i have had a wallet password tell me its icorrect despite me knowing its correct. I know how much should be there please help

[2022-02-14 07:59] nop33 commented on #126
Hello @Biolite80. You can restore your wallet using your 24 words and create a new password.

For the record, when you say _"This is the second time i have had a wallet password tell me its incorrect"_ you mean an Alephium wallet in both cases?

Similar issue: https://github.com/alephium/alephium-wallet/issues/122

[2022-02-14 09:45] Biolite80 commented on #126
Yes the Alephium wallet on official website

Sent from Yahoo Mail on Android

  On Mon, Feb 14, 2022 at 2:59 AM, Ilias ***@***.***> wrote:

Hello @Biolite80. You can restore your wallet using your 24 words and create a new password.

For the record, when you say "This is the second time i have had a wallet password tell me its incorrect" you mean an Alephium wallet in both cases?

Similar issue: #

[2022-02-14 19:06] obigunshinobi opened #127 "WALLET EMPTY BUT TRANSACTION ON EXPLORER"
HI,

I HAVE TRIED EVERYTHING BUT I DON'T UNDERSTAND WHY THE WALLET SHOW NO COINS MEANWHILE I SHOULD HAVE RECEIVED ALREADY COINS AS SHOWN IN THE CHAIN EXPLORER
![image](https://user-images.githubusercontent.com/99685162/153929433-0cba3cdf-795e-4845-93ba-f1cbf931234c.png)
![image](https://user-images.githubusercontent.com/99685162/153929527-0f44692f-c843-4831-b7d6-6cd8cc1b0114.png)

[2022-02-14 20:05] nop33 commented on #127
Hey @obigunshinobi , I see that you are receiving some support on Discord. I'll go ahead and close this issue and monitor the Discord discussion to make sure you solve your issue.

[2022-02-14 20:05] #127 closed

[2022-02-16 05:03] yk1n9 opened #129 "Transfering funds to GATE.io"
Team

I just transferred 40 alph to GATE.io from the wallet and it seems like they never got deposited to GATE.io. Transaction HASH is 48215e3c4e145c9ea727d4d0d811a6fba5e2dfee1372c499260b7db44a2e0e22. Please advise on how to trace?

[2022-02-16 07:46] nop33 commented on #129
I can see in the [explorer](https://explorer.alephium.org/#/transactions/48215e3c4e145c9ea727d4d0d811a6fba5e2dfee1372c499260b7db44a2e0e22) that the funds were sent to the address [17U6XjYkxCPAJPjVxzFVrdm8Q6wVUCQh54fEvrtoJeKZd](https://explorer.alephium.org/#/addresses/17U6XjYkxCPAJPjVxzFVrdm8Q6wVUCQh54fEvrtoJeKZd). Is this your Gate.io address?

[2022-02-16 07:48] nop33 commented on #126
I am afraid I cannot reproduce your issue. Please, restore your wallet with the 24 words to reset the password.

[2022-02-16 07:48] #126 closed

[2022-02-16 09:10] yk1n9 commented on #129
This is my address and you can close the issue i just started seeing the funds. I guess it took way too much time. THank you so much

[2022-02-16 09:34] Biolite80 commented on #126
How? I cannot find a restore option in the wallet at all.

Sent from Yahoo Mail on Android

  On Wed, Feb 16, 2022 at 2:48 AM, Ilias ***@***.***> wrote:

I am afraid I cannot reproduce your issue. Please, restore your wallet with the 24 words to reset the password.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Andro

[2022-02-16 09:38] nop33 commented on #126
![image](https://user-images.githubusercontent.com/1579899/154236937-e721745b-3334-4873-b44d-ba42b324f78e.png)

![image](https://user-images.githubusercontent.com/1579899/154237007-dbd50772-da66-44bd-ab72-a880c45f073d.png)

[2022-02-16 09:40] Biolite80 commented on #126
So I need to delete the account on their first correct?

Sent from Yahoo Mail on Android

  On Wed, Feb 16, 2022 at 4:39 AM, Ilias ***@***.***> wrote:

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-02-16 09:43] nop33 commented on #126
You don't NEED to, but since you cannot access it, it doesn't make sense to keep it. The most important thing is to have your 24 words. By the way, you should never reveal those words to anyone, not even support. :)

[2022-02-16 09:57] Biolite80 commented on #126
Thank you! All set back mining now

Sent from Yahoo Mail on Android

  On Wed, Feb 16, 2022 at 4:43 AM, Ilias ***@***.***> wrote:

You don't NEED to, but since you cannot access it, it doesn't make sense to keep it. The most important thing is to have your 24 words. By the way, you should never reveal those words to anyone, not even support. :)

—
Reply to this email directly, view it on GitHub, o

[2022-02-21 11:43] polto commented on #17
Sorry guys, it took me only one month to get back to this issue and read the thread.

Normally following BIP39 there is not way to have "wrong passphrase" every possible passphrase will derive a new valid HD wallet tree. can be empty, but still valid.

With a passphrase you may be trying to protect against someone finding your 24 words (the passphrase should also be backedup, but elsewhere), but y

[2022-02-23 20:12] nop33 commented on #112
This has already been implemented by https://github.com/alephium/alephium-wallet/pull/128

Closing issue

[2022-02-23 20:12] #112 closed

[2022-02-24 13:49] timpsmar opened #132 "withdraw"
I cant send from official wallet to Gate io  tokens.

[2022-02-24 13:50] #132 closed

[2022-02-24 14:00] nop33 commented on #132
@timpsmar please try to find support in our Discord server, we like to use GitHub for development instead. Thanks!

[2022-02-27 22:37] mrood1986 opened #133 "Enable 2fa"
How do I enable 2fa? Google auth or similar

[2022-02-28 08:53] mvaivre commented on #133
We won't offer 2FA relying on SMS or Gauth in the foreseeable future: we provide a non-custodial wallet, we don't want to rely on external online services for authentication.

We will however look into integrating hardware wallets, like Ledger.

In the meantime, make sure to backup and properly store your 24 words!

[2022-02-28 08:53] #133 closed

[2022-02-28 09:36] mvaivre commented on #115
@nop33 Hey Ilias, could you look into this while I'm testing the address derivation & UX?
It should basically be [1 flag to add](https://www.electron.build/cli.html) in the package.json script + adapt the corresponding github build action.
Do you still have VMWare running on your M1 mac? If so, should be quite easy to spin up an arm64 build of debian / ubuntu. If not, don't spend to much effort on

[2022-02-28 09:38] mvaivre commented on #59
Let's move the discussion to #61

[2022-02-28 09:38] #59 closed

[2022-02-28 12:50] nop33 commented on #115
Hey @mvaivre, I am working on implementing tests for the settings utility functions of the wallet project, as we discussed in the PR. I don't have a VMWare installed, but I can install one. I can do that after I implement the tests.

[2022-03-01 10:13] nop33 commented on #115
Hello @blackmennewstyle! I've added a new npm script that you can use to build the app for ARM64 from source (I updated the README with instructions). Unfortunately, I couldn't get GitHub's CI to work with ARM64 just yet. The process to build for ARM64 from source is very simple:
[code]

Keep in mind that the `master` branch is cutting-edge code and should not be used in production. Use code from

[2022-03-01 13:26] nop33 commented on #61
I started some research, trying to understand what the above statement means. I found out that people refer to wallets that can interact with dApps as **Smart Contract Wallets** or **DeFi Wallets**.

## dApp browser

I also noticed that some DeFi wallets (ie Metamask, Trust wallet, ...) include a "dApp browser" within the app. This browser allows the user to enter any URL. If the website the user

[2022-03-01 13:34] blackmennewstyle commented on #115
Hello :)

Thank you for your response. I'm not really an expert with npm but if i understand correctly, i need to download the sources from a release, for example: https://github.com/alephium/alephium-wallet/archive/refs/tags/v1.1.0.tar.gz . And i should replace the `package.json` contained in the tar.gz file with this one: https://github.com/alephium/alephium-wallet/blob/support-arm64-linux/packa

[2022-03-01 13:49] nop33 commented on #115
That would probably work, but there might have been other changes in the `package.json` file between `v1.1.0` and the latest `master` which might cause your procedure to not work. I would recommend following the following procedure (assuming you are not very familiar with `git`):

1. Extract the contents of the ZIP/tar.gz file
2. Open your terminal
3. Navigate to the extracted ZIP folder
4. Execut

[2022-03-01 14:54] nop33 commented on #115
Hm, I didn't face this issue on my arm64 MacBook. Maybe this helps? https://github.com/jordansissel/fpm/issues/1801#issuecomment-919877499

[2022-03-01 15:04] blackmennewstyle commented on #115
Oh i actually remember using that command with `yarn` for building LBry for my Raspberry Pi 4, i should have thought about it :)
[code]
Definitely made the trick. Successfully built and installed :)
With root privileges
[code]
![Screenshot_2022-03-01_15-03-48](https://user-images.githubusercontent.com/4682874/156193460-efacdddc-6103-4780-a39c-cf98a4d8e0c9.png)
Thank you so much for your assistance

[2022-03-01 15:12] #115 closed

[2022-03-02 07:54] mvaivre commented on #61
Thanks @nop33!
Just to clarify: our "Smart Contract Wallet" (don't rly like it, too technical) or "DeFi Wallet" (don't rly like it, too restricted) - dApps enabled wallet 🙃 - will be on the desktop first.
On mobile, we will start by focusing on funds management (check your assets per addresses, send and receive transactions). Mobile dApps interactions will come once the ecosystem grow bigger.

[2022-03-02 10:29] mvaivre opened #136 "Automatic address discovery"
Address discovery should be triggered in two cases:

1. When restoring a wallet
2. Manually, for cases where a user is using a same account on multiple devices

This should follow the strategy defined in BIP44 and should be implemented on the backend by @tdroxler (following discussions with @polarker).

Details must be discussed, but this feature will be considered in my future mockups.
This will

[2022-03-02 15:44] nop33 opened #137 "Define versions of node and explorer backend each wallet version is compatible with"
**Is your feature request related to a problem? Please describe.**
Users can define their own network settings (node, explorer backend, explorer frontend). Each version of the aforementioned services can have a different API than the one the wallet expects and supports. Instead of making the wallet always backwards compatible, we could define the versions of node and explorer backend that it suppo

[2022-03-02 15:47] nop33 opened #138 "Add versioning information in encrypted info stored in wallet's local storage"
Every time the structure of the encrypted info that we store in the local storage of the wallet (seed, private key, etc) changes, we want to bump a version number that is stored along with this secret information.

[2022-03-02 16:12] mvaivre commented on #137
Ideally, the APIs should return their version (on first call / ping?) and we should show and error message stating that the wallet needs to be updated in order to work properly.

If we want our users to be always up to date, we could also look into auto-updating. I've already deployed that for another electron project in the past, and it's quite straightforward. @polarker WDYT?

[2022-03-02 16:35] nop33 opened #139 "Update informational links to new wiki content"
There is a number of links in the next version of the wallet that need to link to some wiki page, before we can release the new version. Maybe we could have a new _4.3 Desktop Wallet Guide_ page on the wiki.

Here's the list of links we need a page for:

### 1. Info link regarding 4 addresses in welcome page
We need some content to explain what this is (also appears in the following screenshot).

[2022-03-02 16:59] Sakrecoer commented on #139
Note sure if i should assign myself, but i can make sure the pages exist, have the content needed and provide the URLs

[2022-03-03 08:44] nop33 commented on #137
Shall I add the following info in the `v1.1.0` release notes of the wallet?

[2022-03-03 08:54] mvaivre commented on #137
Yes 💯

[2022-03-03 08:56] mvaivre opened #141 "Automatic update system"
If we want our users to always stay up to date, we could implement auto-updating.
I've already deployed that for another electron project in the past, and it's quite straightforward : the app calls a file server where the latest binaries are stored, it checks if the version number is higher, if yes, it downloads and allows the user to install the update in a click, automagically.

@polarker WDYT?

[2022-03-03 09:07] nop33 commented on #141
https://www.electronjs.org/docs/latest/tutorial/updates

[2022-03-03 10:04] polarker commented on #141
In general, I feel it's risky to update automatically for sensitive applications

[2022-03-03 10:45] nop33 commented on #137
Done! https://github.com/alephium/alephium-wallet/releases/tag/v1.1.0

[2022-03-03 10:47] nop33 commented on #141
@polarker what are the security implications that you are referring to?

@mvaivre which crypto wallet desktop apps do you recommend checking? I remember you get inspired by the Ledger Live app a lot. Is there any other?

[2022-03-03 10:56] mvaivre commented on #141
@nop33 My main 2 daily drivers are indeed Ledger Live and [Firefly Wallet](https://firefly.iota.org/). Both I believe are using electron and offering automatic updates. [Exodus](https://www.exodus.com/bitcoin-wallet) seems to be relying on electron as well, and is also offering updates (to double check though).

I'm looking for other examples.

[2022-03-03 11:09] polarker commented on #141
1. It's not my specialized topic, but I think we should only support this if we are sure that it's safe. We need to play safe when it comes to security.
2. It happened in the past that one of a known wallet got hacked due to automatic update. Basically, it's hard to ensure that you are downloading the right package.
3. I have always been suggesting that we should investigate other projects for cri

[2022-03-03 11:26] polarker commented on #141
Here is a nice list of desktop wallets for ETH: https://docs.ethhub.io/using-ethereum/wallets/desktop/

[2022-03-03 13:20] mvaivre commented on #141
1. Of course, hence this investigation issue.
2. Very interested to know more about this story!
3. As always: of course, this is what we've started to do and what we are doing here.

Thanks! I already went through most of this list : many of those are either web wallets or closed source unfortunately. The interesting refs I could extract from that list are Exodus (cf. my previous message) and MyCr

[2022-03-03 13:47] nop33 commented on #141
Thanks for this investigation @mvaivre

I also looked deeply into the project and the organization on GitHub but couldn't find any more info regarding the electron build.

It does look like the way to go method in electron apps is to use the `autoUpdater`. But I agree that we don't have to go this way.

I like this idea! To that, I'd like to add that every time the wallet app opens, we could call

[2022-03-03 14:14] polarker commented on #141
There are two questions to investigate with those known wallets:
1. should we add automatic update for the wallet? I feel that we should not, as it's really not safe to download from a link under the hood. There are many ways this approach could go wrong. However, I am not an expert on this topic, so I would like to see if other desktop wallets have automatic update enabled.
2. how to implement au

[2022-03-03 14:18] nop33 commented on #141
hm, I wonder why you feel that, since both @mvaivre and I in our last messages are talking about ways to inform the user about a new release and let them to **manually** update themselves.

[2022-03-03 14:21] polarker commented on #141
okay, sorry that I mis-read the inforrmation. Checking if there is a new release and suggesting users to manually update them sounds great to me. And it's a very easy one to implement

[2022-03-03 14:25] polarker commented on #141
I tried an old version (1.6.x) of MyCrypto wallet of ETH. There is no reminder of newer version it seems

[2022-03-03 14:44] mvaivre commented on #141
I didn't notice anything in 1.7.16 either, even though their release notes say: `Add check if version is <2.0.0 for desktop app`. I found multiple UI bugs though! :/

As said before and just for clarity sake - all the other electron wallets cited above are proposing automatic updates (Exodus, Ledger Live, Firefly).
Alright, let's now focus on the "compromise" approach proposed above :)

[2022-03-03 14:46] polarker commented on #141
Side note: `curl https://api.github.com/repos/alephium/alephium-wallet/releases/latest` this might be problematic sometimes as we release candidate version sometimes, like `1.2.3-rc0` or `1.2.3-beta` for example

[2022-03-03 14:52] mvaivre commented on #141
A simple regex could allow us to take into account only "final" versions.

[2022-03-04 10:04] Sakrecoer commented on #139
I am currently on this. I just noticed this typo:
![image](https://user-images.githubusercontent.com/3484593/156742716-87d48a7b-a7c3-412e-be30-fcb1dbd44528.png)

Not sure how to file an issue about it as i don't really know where the content is located in the wallet and suspect you might have caught the typo already :)

[2022-03-04 10:27] Sakrecoer commented on #139
Here is the first draft: https://github.com/alephium/wiki/commit/236c0f8a8f402f4b10b5a27f0f43c879b38d6d42

the URL for 1. will be: https://wiki.alephium.org/Desktop-Wallet-Guide.html#creating-a-mining-wallet-with-4-addresses
the URL for 2. will be: https://wiki.alephium.org/Desktop-Wallet-Guide.html#utxo-consolidation

[2022-03-07 10:41] #119 closed

[2022-03-07 16:29] lf94 opened #143 "Settings are partially covered by navigation menu"
**Describe the bug**
The settings dialog is partially covered by the navigation menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Unlock a wallet
2. Shrink the window
3. Open the settings

**Expected behavior**
The settings dialog should be on top of the navigation menu.

**Screenshots**

![1646670435](https://user-images.githubusercontent.com/547923/157075753-1bb45c6d-27c1-4bf0-b57c-55c

[2022-03-09 14:15] mvaivre opened #147 "Show a message when opening the wallet while offline"
As of today, the data is simply not loaded (no addresses, amounts etc.) but no error are shown.
Also, "refreshing" (using the dedicated header button) after getting back online doesn't work.

As a first step, when offline, we could show an error snackbar and replace the refresh icon with a "offline" icon.

In the future, we could cache previously loaded data to populate the UI, even when offline.

[2022-03-09 14:17] lf94 commented on #147
Should it be clear that the data presented is old?

[2022-03-10 08:48] mvaivre commented on #147
Yes. An easy way could be to add a little state icon to the refresh button:

![image](https://user-images.githubusercontent.com/6715943/157624495-b22cf5e2-9906-4a25-9c12-e37f47f12ae6.png)

With an explanation on hover: "(Not) Synchronized"

[2022-03-10 10:30] #139 closed

[2022-03-10 10:30] #143 closed

[2022-03-10 14:39] #138 closed

[2022-03-10 16:21] lf94 opened #150 ""More info" for UTXO Consolidation leads to a 404"
**Describe the bug**
As the subject says.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Addresses
2. Click on Show operations under Advanced Management
3. Click on More info under UTXO Consolidation

**Expected behavior**
It should lead to real information.

**Screenshots**

**Environment**

**Additional context**

It leads to this current https://wiki.alephium.org/Desktop-Wallet-Gui

[2022-03-10 16:23] lf94 commented on #150
Whoops, I just realized because I rebase on master that is exactly why - I thought it was an older feature.

[2022-03-10 16:23] #150 closed

[2022-03-11 15:49] mvaivre opened #151 "Fix the Badges in the Transaction history table"
![image](https://user-images.githubusercontent.com/6715943/157900961-ceee7890-3ae0-4db5-b0d9-f16a1dcb704e.png)

Too smol, no rounded borders etc.

[2022-03-14 10:56] #147 closed

[2022-03-14 10:59] nop33 opened #153 "Fix shadow in light theme"
<img width="1317" alt="image" src="https://user-images.githubusercontent.com/1579899/158159119-e6ea35cb-2280-4e0e-9160-5976a162a78e.png">

[2022-03-14 11:10] nop33 opened #154 "Fix send dialog image in light theme"
<img width="623" alt="image" src="https://user-images.githubusercontent.com/1579899/158160555-3d6c3539-76bb-4a35-82cd-240243d051e0.png">

[2022-03-14 11:15] nop33 opened #155 "Fix input fields labels that are a bit cut off"
![image](https://user-images.githubusercontent.com/1579899/158161268-bf01ddcb-1b9c-46e2-843e-3a85e7e00cc9.png)

<img width="611" alt="image" src="https://user-images.githubusercontent.com/1579899/158161299-0fba657f-14e9-4854-a590-f2e213ff266c.png">

<img width="618" alt="image" src="https://user-images.githubusercontent.com/1579899/158161316-9b754497-1bc6-421b-ba11-0e573c13db2a.png">

[2022-03-15 10:08] #151 closed

[2022-03-15 10:08] #153 closed

[2022-03-15 12:46] #154 closed

[2022-03-15 12:46] #155 closed

[2022-03-15 12:48] nop33 commented on #71
I believe we can close this issue since the features have been implemented! We are in the testing phase before releasing. Any futher bug fixes can be reported individually and added in the `v1.2.0` milestone.

[2022-03-15 14:47] nop33 opened #157 "Tooltips on main address and current network are not working"
- [x] main address tooltip
- [x] current network tooltip
- [x] overview page address copy to clipboard tooltip
- [x] address detail address copy to clipboard tooltip

https://user-images.githubusercontent.com/1579899/158403936-a6ba5b9a-32e2-4e91-af6b-f48c61419bca.mp4

[2022-03-15 15:10] nop33 opened #158 "Account creation fails when offline"

[2022-03-15 16:08] nop33 opened #159 "Labels are problematic when they get too long"
<img width="625" alt="image" src="https://user-images.githubusercontent.com/1579899/158421288-770c2e32-08d6-471f-a0f3-92f85b325225.png">

<img width="1312" alt="image" src="https://user-images.githubusercontent.com/1579899/158421324-d13332ba-c51b-4992-aeda-4531a5d34628.png">

[2022-03-15 16:18] nop33 opened #160 "Cannot delete first digit of gas price amount after setting it in Send dialog"
## 🔉 sound: on
https://user-images.githubusercontent.com/1579899/158423436-a2c7444e-5fd5-49fe-b670-1741496844ad.mp4

[2022-03-15 18:00] nop33 opened #161 "When sending funds from one address to another address of the same wallet, one needs to refresh the data to see the funds arriving to the destination address"
This should not be the case and the same way the funds get removed from one address, they should be added in the other without refresh.

[2022-03-16 07:15] #71 closed

[2022-03-16 07:18] mvaivre commented on #159
Let's set a max string length. 20 seems to be a good compromise, WDYT?
We can use the input's error display to inform the user of the max size (in the address generation and address settings modals).

[2022-03-16 07:55] nop33 commented on #159
I think we can go higher than 20 because we can use ellipsis in the UI. But yeah, I wouldn't allow it to go on a second line in the input field.

[2022-03-16 08:02] mvaivre commented on #159
Yeah, but the concept of allowing big strings to then truncate them systematically is a bit weird. I'd rather make the user think of a shorter label, if anyway they could never read the end of it :)

We could go with a fixed max value which allows us to keep our UIs nice and clean, and see if some users complain?

[2022-03-16 08:10] nop33 commented on #159
OK, let's go with that. Argument for big lables is people with big screens won't have truncated labels. Not everyone has the same screen size. And maybe the want to create hierarchical patterns within the label name, which might end up with long label names.

Anyway, I am just trying to think of edge cases! No need to spend more time on this, I'll implement a fixed length that keeps the UI looking

[2022-03-16 08:12] mvaivre commented on #159
Sounds great! Thanks :)

[2022-03-16 08:41] nop33 commented on #158
I cannot reproduce this anymore... Weird.

However, I noticed a 2 new bugs:

1. When creating 4 addresses from the welcome screen, and then switching (to an online) network, the label of the main address gets lost.
2. When being offline and creating an account, and then switching network while still being offline, the generated addresses do not appear in the UI.

I am working on both of these.

[2022-03-16 14:58] lf94 commented on #157
* [ ] QR Code tooltip not working

[2022-03-16 15:08] nop33 commented on #161
Cannot reproduce in a setup where I am using node `v1.2.7` and explorer-backend `v1.5.0`.

Closing issue.

[2022-03-16 15:08] #161 closed

[2022-03-16 15:14] lf94 commented on #157
o7, I made a bad assumption - I saw QR Code used the Tooltip component and just assumed it should say "QR Code" :laughing: .  I won't do it just so the issue remains focused.

[2022-03-16 15:24] nop33 commented on #157
It's a very logical assumption, I also felt for it

[2022-03-16 16:02] mvaivre commented on #157
https://user-images.githubusercontent.com/6715943/158633698-5087dbf3-5d83-425c-b189-84d3ed3f4a00.mov

I can't reproduce it :/

[2022-03-16 16:04] lf94 commented on #157
Was able to reproduce here :rocket:

Resolved by https://github.com/alephium/alephium-wallet/pull/163

[2022-03-16 16:13] lf94 commented on #160
Root cause:

[code]

This is causing an `alephium-js` formatting function to fire, and it isn't happy with `undefined` or an empty string (I don't know which).

[2022-03-16 16:26] lf94 commented on #160
Resolved by https://github.com/alephium/alephium-wallet/pull/164

[2022-03-16 17:57] nop33 opened #165 "Scrolling changes the value of numeric input fields"
https://user-images.githubusercontent.com/1579899/158656267-222fb867-7993-4cb4-8512-5ce8701df603.mp4

[2022-03-16 18:01] lf94 commented on #165
Was this introduced between the old version and now? If not I'd leave it out of the milestone...

[2022-03-16 18:08] #157 closed, assigned to lf94

[2022-03-16 18:39] nop33 commented on #109
I think this is more complicated than it looks.

Have a look here: https://stackoverflow.com/questions/46222035/set-color-of-windows-titlebar-electron-js

and here: https://www.npmjs.com/package/custom-electron-titlebar

[2022-03-16 18:45] lf94 commented on #109
I think https://github.com/electron/electron/issues/23479 gives a better understanding of the issue and better solutions than the two you've linked. I agree, it looks non-trivial to deal with as a web developer.

As someone said concisely:

We can opt to use this build flag or ignore the issue. IMO as long as we "keep on top" of using the nonpublic API, it's ok, since this is just for non-conseque

[2022-03-16 18:47] nop33 commented on #109
If this is the fix, and we can verify that it works (in need of a windows machine), then I say let's just fix it.

[2022-03-16 19:02] lf94 opened #167 "Offline mode icon disappears when going into account creation"
https://user-images.githubusercontent.com/547923/158667017-4be75f7b-0730-4089-8819-65781681538f.mp4

[2022-03-16 19:05] lf94 opened #168 "The "switch toggle" on light theme is difficult to see"
![1647457473](https://user-images.githubusercontent.com/547923/158667526-6e90e0ed-2d52-4bd1-b978-3b16279278dc.png)

[2022-03-16 19:06] lf94 commented on #167
Regardless I am able to create an account.

[2022-03-16 19:29] lf94 commented on #165
This is caused by `type='number'`. It's actually default browser behavior. A simple no-hack fix is to declare the input as `type='text'`.

[2022-03-17 08:33] mvaivre commented on #168
Will fix.

[2022-03-18 09:42] nop33 opened #170 "Ensure compatibility with rc releases of node, explorer backend, and alephium-js"
- node: [v1.3.0-rc6](https://github.com/alephium/alephium/tree/v1.3.0-rc6)
- explorer-backend: [v1.6.0-rc2](https://github.com/alephium/explorer-backend/tree/v1.6.0-rc2)
- alephium-js: ~~[v1.1.3-rc0](https://github.com/alephium/alephium-js/tree/1.1.3-rc0)~~ v1.2.0-rc1

[2022-03-18 12:18] lf94 commented on #170
Were you able to get node and explorer-backend behaving together?

[2022-03-18 12:19] nop33 commented on #170
Yes. But I couldn't get the wallet to work yet cause schemas have been changed. Thus, this task.

[2022-03-18 12:29] #165 closed

[2022-03-18 12:30] nop33 commented on #168
Fixed by #169

[2022-03-18 12:30] #168 closed

[2022-03-18 12:30] nop33 commented on #167
Fixed by #169

[2022-03-18 12:30] #167 closed

[2022-03-18 13:01] lf94 commented on #141
A quick evaluation of the discussion: right on :+1:

Just one criticism: the problem manifests in three ways, which I haven't seen distinguished:

* wallet<->local hosted backends
* wallet<->official hosted backends
* wallet<->non-official hosted backends

The "comparing the local version of the wallet with the one on GitHub" suggestion then will continue to manifest the problem for local and non-

[2022-03-18 13:20] nop33 commented on #141
I think the compatibility between wallet and node/expl-backend should be defined by the compatible versions of node/expl-backend in the alephium-js version the wallet is using. For example, since the current [wallet is using alephium-js v1.1.0](https://github.com/alephium/alephium-wallet/blob/master/package.json#L55), and since this version of alephium-js supports the schemas of [node 1.2.8 and ex

[2022-03-18 13:30] lf94 commented on #141
Yep, I think you're right, after thinking about it for a bit. I'll add a little graph to visualize what I see in my mind...

[2022-03-18 13:54] lf94 commented on #141
![wallet-versions](https://user-images.githubusercontent.com/547923/159015629-07248c93-5e31-4aa3-98b2-84edcf1baa26.png)
[wallet-versions.svg](https://user-images.githubusercontent.com/547923/159015651-70333244-1d3e-430e-a4b3-bbc252bfbda7.svg)

[2022-03-21 17:00] MaudSimon opened #172 "Allow importing (NOT CREATING) wallets with less than 24 words seed in the desktop wallet."
**Is your feature request related to a problem? Please describe.**
It is possible to create a wallet with less than 24 words seed via the node. However, the desktop wallet only allows to import wallet with 24 words seed. Which means someone that first created their wallet via the node with less than 24 words seed cannot import it to the desktop wallet.
This problem was encountered by at least one

[2022-03-22 06:51] nop33 commented on #172
It should be easy to allow import of wallet with less than 24 words. @polarker @mvaivre, is this request verified and should be implemented? Or is it still at discussion phase?

[2022-03-22 06:57] mvaivre commented on #172
I've quickly discussed this with Maud yesterday. I don't see any issue allowing importing any mnemonic length, as long as we keep enforcing 24 words on creation. I'd like @polarker to confirm that it's fine for him too :)

[2022-03-22 07:28] tdroxler commented on #172
it's acualy not "any" size but: [12, 15, 18, 21, 24](https://github.com/alephium/alephium/blob/5b5e8cf1eecc9d16a5feda5616e9095834c6b201/crypto/src/main/scala/org/alephium/crypto/wallet/Mnemonic.scala#L54), tho I can't remember why those numbers.

[2022-03-22 08:58] polarker commented on #172
The only strict rule is that the mnemonic length should be at least 12 words to make it secure enough. `12, 15, 18, 21, 24` is just a tradition from Bitcoin as far as I remember

[2022-03-22 09:01] polarker commented on #172
Passphrase sometimes is considered as the 13-th or 25-th words. So if you see length of 13 or 25, it might be due to passphrase.

[2022-03-22 10:05] nop33 commented on #172
So, I interpret all the above comments as "yes, we want this feature, go ahead and implement it".

[2022-03-22 13:00] polarker commented on #172
This is definitely good to have as some people use the same mnemonic for different coins and different wallets

[2022-03-22 15:11] #170 closed

[2022-03-23 07:58] mvaivre commented on #9
@polarker Could you provide more info? Thanks!

[2022-03-23 08:03] mvaivre opened #173 "Ledger Nano support"
Hardware wallet support is a must-have.
As discussed, let's start by investigating adding support for Ledger Nanos which are extremely popular (easy to get, relatively cheap, dev-friendly etc.).

This issue can be used to document the investigation progress, but let's try not to spam it too much ;)
Once concrete tasks can be formulated, let's link them here to reflect ongoing progress.

[2022-03-23 09:03] polarker commented on #9
Yes, I will provide more information when I have a bit of time

[2022-03-23 12:53] mvaivre opened #174 "Not able to scroll through addresses with the mouse wheel"
![image](https://user-images.githubusercontent.com/6715943/159703503-d64bf065-81c9-4548-b1be-d5ced6568518.png)

Horizontal scrolling doesn't seem to work with a real mouse wheel (no trackpad).

[2022-03-23 13:08] mvaivre opened #175 "Create a test for broken links"
Many links aren't working right now (https://wiki.alephium.org/Desktop-Wallet-Guide.html#utxo-consolidation https://wiki.alephium.org/Desktop-Wallet-Guide.html#creating-a-mining-wallet-with-4-addresses).

Let's add a test to catch any broken link?

[2022-03-23 13:13] nop33 commented on #175
These are not working because we haven't published the wiki articles!

[2022-03-23 13:14] nop33 commented on #175
https://github.com/alephium/wiki/pull/46

[2022-03-23 13:16] nop33 commented on #174
This might help

https://alvarotrigo.com/blog/scroll-horizontally-with-mouse-wheel-vanilla-java/

[2022-03-23 13:33] mvaivre opened #176 "Replace the "ALEF" utf8 symbol with a SVG"
For consistency sake across OSes. As of today, the symbol is rendered in very different ways.

Note: this component could later be shared in a "common" UI library.

[2022-03-23 14:14] nop33 commented on #173
Here's the document so that we don't have to download it to see it 😇

<details><summary>Click to see</summary>

LEDGER SUPPORT
Exploring the work needed to develop Ledger wallet support for Alephium

https://developers.ledger.com/docs/nano-app/start-here/
https://developers.ledger.com/docs/nano-app/introduction/

For each new Ledger Nano App, they must be submitted to Ledger for a functional
revie

[2022-03-23 14:52] mvaivre opened #177 "Deactivate Inter font "calt" feature"
As done in the explorer [here](https://github.com/alephium/explorer/pull/64/commits/ad439760ff0b1e6062947cb756ca6f4eb088f30c). This avoid unwanted font transformations, like we've seen with "x"s for instance.

[2022-03-23 17:05] lf94 commented on #176
A small example I wrote https://jsfiddle.net/rkx4m1qc/ .

This solves the problem of:

1. rendering the ALEF symbol consistently (we will use an SVG) and
2. copying a consistent identifier (ALPH)

[2022-03-23 18:57] #174 closed

[2022-03-23 18:57] #177 closed

[2022-03-23 20:50] lf94 commented on #173
Update: I discovered Alephium uses ED25519 (the same as Bitcoin) for its digital signatures, which would make development much easier as this is well supported. I'm unsure though if we also need to support the ~5 hash functions I saw while looking around. I don't know about Ledger, but on Trezor, it is very "dumb" in that all it cares about is signing and nothing else - it expects the transaction

[2022-03-24 08:06] polarker commented on #173
BTC/ETH/ALPH all use Secp256k1, not ED25519. ETH added ED25519 in EIP-665. We support ED25519 in the VM for interoperability.

[2022-03-24 10:44] nop33 commented on #176
Nide idea @lf94 and good job! So, what are we missing to implement this and close this issue? The SVG and the React component?

[2022-03-24 13:35] lf94 commented on #173
Ah my bad, for some reason I was making the association between Secp256k1 and ED25519, which is completely, completely wrong.

What is still true though is there is good support for that digital signature scheme in Ledger (and Trezor).

[2022-03-24 17:10] #172 closed

[2022-03-25 11:27] polarker commented on #173
Such support will integrate Alephium into ledger live? Or it will support all kinds of wallets that can connect with ledger?

[2022-03-25 11:50] lf94 commented on #173
Such support will allow your Ledger to hold onto and manipulate your Alephium keys. Ledger Live (with more work) then can be used to manage balances. It does not allow other wallets to use Alephium.

[2022-03-25 12:23] mvaivre commented on #176
Let's use [this one](https://commons.wikimedia.org/wiki/File:Hebrew_letter_alef_freefonts.svg), to see how it looks.

[2022-03-25 12:26] polarker commented on #173
if I am not mistaken, it means that we cannot integrate ledger to our desktop wallet?

[2022-03-25 12:29] lf94 commented on #173
From what I understood from the documentation Ledger really tries to do a proper integration - I think just providing a Nano App is not sufficient, so yeah.

We could go for an unofficial support, bypassing all the security audit, requirements, etc - not something I vouch for unless I did it myself...(Which I may do with Trezor in my freetime if this doesn't happen)

[2022-03-27 12:53] polarker opened #181 "Investigation of other blockchain wallets"
A list of official or semi-official wallets of other blockchains:

- [avalanche-wallet](https://github.com/ava-labs/avalanche-wallet) is only available on web
- phantom wallet is not open sourced
- polkadot-js is [desktop wallet](https://github.com/polkadot-js/apps) first
- auro [extension wallet](https://github.com/aurowallet/auro-wallet-browser-extension): Mar 28, 2021, [mobile wallet](https://g

[2022-03-27 21:44] polarker commented on #173
I just did a quick research about Ledger Nano tonight. It may not be too bad to start with unofficial support. It only requires users to install the app with python.

One shortcut is to only do blind signing at the beginning, i.e. we only sign the txid and don't decode the actual transaction. Blind signing is used for smart contract transactions for ETH, so the security is kind of acceptable for m

[2022-03-27 21:55] polarker commented on #173
Also, lets contact external teams to see how much we will need to pay for Ledger integration. @MaudSimon could you try to reach out to @zondax?

[2022-03-28 08:55] nop33 opened #182 "Implement address book"
**Is your feature request related to a problem? Please describe.**
I regularly send funds to friends of mine and I need to maintain a list of their Alephium addresses outside of the wallet.

**Describe the solution you'd like**
An address book, mapping addresses to names

**Describe alternatives you've considered**
Keeping a list of addresses and names outside of the wallet

**Additional context**

[2022-03-28 09:08] mvaivre commented on #182
Yes, I also had this in mind, that would be very useful.

It would be easy to implement in a single wallet, but we still need to find a solution regarding account syncing across multiple wallets (same problem with addresses' names & colors). We could offer a metadata export function, or store metadata on GDrive (a la Argent, used for backing up private keys (glups)) or a payload sync through Walle

[2022-03-28 09:10] tdroxler commented on #182
good idea indeed, regarding syncing I had this idea once to store the wallet settings through a dApps, but haven't thought further if it's doable.

[2022-03-28 09:16] mvaivre opened #183 "Metadata sync accros wallets"
**Is your feature request related to a problem? Please describe.**
Metadata aren't shared across wallets: address labels and colors, contact list etc.

**Describe the solution you'd like**
I'd like to be able to easily sync metadata between my wallets.

**Describe alternatives you've considered**
Manually recreating metadata... which would be a pain.

**Some initial ideas**
We could offer :
- A me

[2022-03-28 11:57] lf94 commented on #183
I like the first option the most, but we can iterate with cloud backup or even storing settings on the blockchain (in that order probably).

[2022-03-28 12:31] nop33 commented on #176
There are multiple places where we use the ℵ character:
1. `Amount` component
2. Form input placeholders:
   1. [`AmountInput`](https://github.com/alephium/desktop-wallet/blob/556d1548bad35f30e51798b5435a8710e85d361e/src/components/Inputs/AmountInput.tsx#L72)
   2. [`TransactionForm` gas price input](https://github.com/alephium/desktop-wallet/blob/f327f46279b166bd8487cb3fdc5ddc928ee195b4/src/modal

[2022-03-28 12:39] lf94 commented on #176
In the places where we have N in a placeholder, we can move it to outside the textbox? It may be more consistent this way since N is not retained on typing.

Thank you for the breakdown of problems. I think we should do whatever we have to do (in this case, some refactoring as you said)...!

[2022-03-28 15:03] MaudSimon commented on #173
@polarker emailed them!

[2022-03-28 15:34] nop33 commented on #141
As we discussed in the meeting last Thursday, the upcoming deployment of mainnet (node v1.3.0) will make the current desktop wallet that users have installed (v1.1.0) obsolete. Users who do not update their wallet to v1.2.0 will receive strange error messages, and no notification to update their wallet. Unfortunately, we cannot do anything to avoid that this time, but we can for the next one. So,

[2022-03-28 15:34] #176 closed

[2022-03-28 15:49] MaudSimon commented on #173
Contacted Zondax, will update here.

[2022-03-29 08:40] nop33 commented on #181
@polarker what is the purpose of this task? I have recently created a curated list of wallets that we like (and other resources): https://github.com/orgs/alephium/teams/front-end/discussions/4

Does this satisfy the requirements of this task?

[2022-03-30 13:19] #181 closed

[2022-04-04 12:53] nop33 opened #187 "Expected fee value is not displayed correctly"
<img width="594" alt="image" src="https://user-images.githubusercontent.com/1579899/161547819-d9210437-3103-489e-af98-7b3b4178f20d.png">

[2022-04-04 14:09] nop33 opened #188 "Long account name is not displayed properly"
<img width="446" alt="image" src="https://user-images.githubusercontent.com/1579899/161562098-36ae703f-e10c-4d2c-a595-a81420bf3f1c.png">

[2022-04-04 14:09] nop33 opened #189 "Amount suffix should not be faded out"
The "M" in this case should be normal color.

<img width="250" alt="image" src="https://user-images.githubusercontent.com/1579899/161562183-7fceeaed-ab9b-415a-8370-0736a27c2be9.png">

[2022-04-04 15:28] mvaivre opened #191 "Improve accessibility"
Our wallet should respect basic [accessibility conventions](https://www.w3.org/WAI/test-evaluate/preliminary/). We could start by making sure that it's possible to navigate through the app by using the keyboard only.

[2022-04-04 15:38] mvaivre opened #192 "Init i18n"
Translating the wallet would increase accessibility and broaden the potential audience of the app.
It's a relatively low hanging fruit, easy to implement using for instance [react-i18next](https://react.i18next.com/).

It would also be a wonderful opportunity to involve our community to provide translations (cc/ @Sakrecoer )

[2022-04-04 17:01] polto commented on #173
So I see the ledger wallet (or any hww) integration in 3 steps:

1. decoding UnsignedTX and show amount, tx fee, destination address and validate the change address, validate the UnsignedTX  vs txid and sign txid.
2. bring full support for multisig (importing other's pubkeys, deriving addresses for the multisig on ledger to check own addresses.)
3. bring support for DApps using something similar t

[2022-04-05 10:36] Sakrecoer commented on #192
Thanks for cc:ing me! I applause the initiative and agree with the benefits! It will be a pleasure to help make this happen!

[2022-04-05 13:34] #188 closed

[2022-04-05 13:34] #189 closed

[2022-04-05 16:42] polto opened #195 "Proper derivation paths for accounts / addresses"
The intent behind multiple addresses in the desktop wallet is to isolate different usages. (mining, DApps, personal, work, ...)

My concern is that for now we derive a bit from the [BIP44](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki) standard terminology and that it may cost us some more work later or bring some bad legacy.

Currently we call `Account` a new **seed** and have  `

[2022-04-05 16:55] nop33 commented on #195
For what is worth, i have already prepared a fix for that: https://github.com/alephium/js-sdk/commit/ba4ffe3273dfc7dc2f4652ee3a1c6d0d8ec55770

Afk till tomorrow.

[2022-04-05 17:42] polto commented on #195
also wallets automatically sum the amounts among all UTXOs of all addresses of the same account. since the usage is delimited per account.

[2022-04-05 17:45] lf94 commented on #195
I think there is simply a usage issue happening rather than a change in scheme needed, and I believe this is happening because individual addresses can be labeled.

I'll add a more detailed reply much later, but I wanted to say that to maybe get the gears turning about how the UX can change. I'm in full agreement that the current way things are presented, we cannot be doing 1 account -> 1 address,

[2022-04-05 17:52] polto commented on #195
Right, In Bitcoin addresses are used as "invoices" to be payed. When you invoiced several payments and have a set of UTXOs they are summed by the wallet per account - used to separate usages.. So even if we do not use multiple addresses per account yet, it's good to be ready for this to happen.

If you strictly follow BIP44 address discovery every wallet should discover accounts and addresses in t

[2022-04-05 20:07] Raffmanlt opened #196 "Alephium wallet"
My Alephium wallet no longer shows a value, no numbers displayed.  This was working fine before.

[2022-04-05 20:20] polarker commented on #196
It's probably related to the deployment of our latest release. I will check with the team.

[2022-04-05 20:41] lf94 commented on #196
Some quick investigation this is due to the pubilc node upgrade not being deployed properly.

[2022-04-06 13:17] nop33 commented on #196
Is the problem solved? Can this be closed?

[2022-04-06 13:18] lf94 commented on #196
Yep, resolved since last night.

[2022-04-06 13:18] #196 closed

[2022-04-11 08:02] mvaivre commented on #183
Adding the sesame team to the discussion! Welcome guys 🙌  @gilles-hemmerle @olivierb2

Both our teams would benefit from a flexible metadata storing solution, so let's brainstorm a bit.

[2022-04-11 10:28] mvaivre opened #198 "Clear up wallet / account terminology confusion"
As discussed with @nop33 on Slack, the use of wallet vs. account is not consistent right now.
We should have : 1 seed = 1 wallet.

Let's replace "account" with "wallet".

[2022-04-12 04:08] Jbashimov opened #201 "Apk and Ipa"
Please create apps for android and Iphone. I believe in ALPH.

[2022-04-12 07:17] nop33 commented on #201
https://github.com/alephium/mobile-wallet we believe in ALPH too ❤️

[2022-04-12 07:17] #201 closed

[2022-04-12 13:35] mvaivre opened #202 "Order of AddressSummaryCards is changing"
Seems like the order is not enforced, and can change arbitrarily on fetch.

https://user-images.githubusercontent.com/6715943/162974453-fb488840-1333-4edb-8355-874334c5ee5b.mov

[2022-04-12 13:40] nop33 commented on #202
Hm, I cannot reproduce. How did you trigger a new fetch? I tried the "Refresh" button, but the order doesn't change.

[2022-04-12 13:41] mvaivre commented on #202
I just waited, navigated to the "addresses" section and back, opened en close the address list...

[2022-04-12 13:47] nop33 commented on #202
Pushed a fix in the https://github.com/alephium/desktop-wallet/pull/200 PR

[2022-04-12 14:24] #202 closed

[2022-04-13 08:42] nop33 opened #206 "Cannot send funds right after receiving them"
**Describe the bug**
In my local devnet (node 1.3.2, expl-bck 1.6.0) I noticed that after I send a tx from address `X` to another `Y` and
once the explorer API `getAddressesAddressTransactions` endpoint (get confirmed txs) as well as the `getAddressesAddress` (get address details) include this tx, then I have an issue building a new transaction from address `Y`, unless I wait for a minute or so. I

[2022-04-13 09:39] mvaivre opened #208 "Create shortcuts to change main address"
- TODO: Adapt mockups.

The idea is to improve the "main address" label display and to allow changing the main address more easily (button in the address details view).

[2022-04-13 11:17] nop33 opened #209 "Fix position of toggle icons"
Not properly centered

<img width="549" alt="image" src="https://user-images.githubusercontent.com/1579899/163168821-ea95d0ad-782c-4913-95b0-688ba6f19617.png">
<img width="502" alt="image" src="https://user-images.githubusercontent.com/1579899/163168851-78b61186-81ee-45ba-b594-be720ec1f483.png">
<img width="130" alt="image" src="https://user-images.githubusercontent.com/1579899/163168877-8a9e2815-

[2022-04-13 15:05] nop33 opened #210 "Switching from offline mode to online mode does not automatically refresh the balances"
**Describe the bug**
Switching from offline mode to online mode does not automatically refresh the balances. Clicking the refresh button does correctly fetch the balances.

**To Reproduce**
Steps to reproduce the behavior:
1. Open wallet
2. Start with offline mode (change network settings to blank)
3. Login into the wallet
4. Change network settings to an online network
5. Balances are not refresh

[2022-04-13 15:49] nop33 opened #212 "Fix default label color in dark theme"
It's hard to read.

<img width="935" alt="image" src="https://user-images.githubusercontent.com/1579899/163219966-61595f8b-c720-4492-b24f-a490a6d445ef.png">

[2022-04-13 16:16] lf94 opened #213 "Tooltip in address cards on overview disappear"
**Describe the bug**
Tooltips for the copy and qr code disappear from the address cards on the overview for some reason.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on an address card
2. Navigate back to the overview page
3. No more tooltips in the address cards

**Expected behavior**
They should always be possible to trigger.

**Screenshots**
If applicable, add screenshots to help

[2022-04-13 16:20] lf94 commented on #213
This must have something to do with react-tooltip not reattaching itself.

[2022-04-14 00:33] oskitar-git opened #214 "Invalid value for: body"
I'm trying to send token, but my desktop Alephium wallet says:

_**Invalid value for: body (missing keys in dictionary: alphAmount at index 191: decoding failure)**_

![image](https://user-images.githubusercontent.com/13051863/163291158-fd975a41-40de-4987-898a-db849a48d1d1.png)

![image](https://user-images.githubusercontent.com/13051863/163291102-cb55b6ae-d9c5-47e9-9856-893f203b0cb5.png)

Thank y

[2022-04-14 00:38] lf94 commented on #214
You must update to 1.2.0, we had a network update today. Starting at 1.2.0 you will be notified now when to update.

[2022-04-14 02:03] oskitar-git commented on #214
Ah ok, thank you for your soon response.

I'm new on this platform, so I have one question left: how I have to perform the wallet update safely ?? The wallet app will update automatically??

[2022-04-14 02:22] lf94 commented on #214
Simple download the new release - nothing else needs to be done. In this new release, the wallet will take your to the GitHub Releases page automatically. We don't do automatic updates for user safety.

https://github.com/alephium/desktop-wallet/releases/tag/v1.2.0 Enjoy! If everything is good after the update please close the issue :slightly_smiling_face:

[2022-04-14 02:37] oskitar-git commented on #214
AH ok, thank you..

If I am not bothering you I would like to ask something that I have not seen in any forum. I have my wallet on windows, and then I installed it on macOS and used the "import wallet" option, I followed the prompts but I have not been able to set up the wallet on macOS so I can use the same ID I have on windows and view my Alephium balance. MacOS wallet always create a new ID and

[2022-04-14 03:13] lf94 commented on #214
If you imported your seed, you may just have to derive more addresses to see the actual address with funds. I'm not at the office right now but I'll give more details tomorrow.

[2022-04-14 11:25] WilhelmKallstrom opened #215 "No password prompt when deactivating "Require password confirmation before sending each transaction"."
When you try to deactivate "Require password confirmation before sending each transaction" you should be prompted with the password of the wallet. Right now you can just turn it off, therefore, making the feature useless.

[2022-04-14 15:18] deep1532002 opened #217 "invalid value for:body (missing keys in dictionary: alphAmount at index 192: decoding failure"
invalid value for:body (missing keys in dictionary: alphAmount at index 192: decoding failure
what can i do to solve this error?

[2022-04-14 15:19] lf94 commented on #217
Please see https://github.com/alephium/desktop-wallet/issues/214#issuecomment-1098600974 and close this issue if it solves your problem :slightly_smiling_face:

[2022-04-14 15:21] lf94 opened #218 "📢 NEW RELEASE (1.2.0): solves `invalid value for: body` error ⚠️"
You may have recently discovered the wallet is not working; this is because it's not compatible with the newer public node which has been deployed. You must upgrade to version 1.2.0: https://github.com/alephium/desktop-wallet/releases/tag/v1.2.0

Thank you for your patience and thank you for flying Alephium Airlines :airplane:

[2022-04-14 15:24] lf94 commented on #214
@oskitar-git did you try deriving more addresses? Could you also provide screenshots please?

[2022-04-15 09:54] NaurisGLTU opened #219 "Invalid value for: body (missing keys in dictionary: alphAmount at index 192: decoding failure)"
While trying to transfer tokens, im getting this error message:
Invalid value for: body (missing keys in dictionary: alphAmount at index 192: decoding failure)

[2022-04-15 09:58] nop33 commented on #219
Hello @NaurisGLTU ! Please read the pinned issue in the [issue tracker](https://github.com/alephium/desktop-wallet/issues) :) Thanks!

[2022-04-15 09:58] #219 closed

[2022-04-15 09:59] nop33 commented on #217
Problem gets solved by upgrading to the latest version. Download it from https://github.com/alephium/desktop-wallet/releases/tag/v1.2.0

[2022-04-15 09:59] #217 closed

[2022-04-15 10:03] nop33 commented on #214
Closing issue since the main topic of the issue was address (wallet upgrade). Feel free to continue the discussion on Discord!

[2022-04-15 10:03] #214 closed

[2022-04-20 13:29] lf94 opened #220 "Address derivation sometimes diverges between "using for defi" and "generate more addresses" functions"
**Describe the bug**
When trying to import my miner seed, I noticed I got 1 of n addresses which actually matched - the rest didn't. This was when I was pressing "generate more addresses".

I re-imported and then used the "using for defi" option, which generated the correct addresses.

**To Reproduce**
I have no idea how to reproduce.

**Expected behavior**
The two methods should have the exact sa

[2022-04-21 07:11] nop33 commented on #220
"+ Generate new address" button: Increments the `address_index` derivation path level to generate the next available address without leaving any gaps. If the "group" is set to a different than the default one, it will keep incrementing the `address_index` until it finds an address in that group.
Example: The initial address has derivation path `44'/1234'/0'/0/0`.
1. User clicks "+ Generate new add

[2022-04-22 13:15] lf94 commented on #220
Thank you for the explanation; actually it's so good we should consider including it in the wiki!

I'll close the issue since it's not a bug.

[2022-04-22 13:15] #220 closed

[2022-04-23 12:24] mk564 opened #221 "Can't export transaction history to CSV"

[2022-04-25 07:44] mvaivre commented on #221
Thanks for the suggestion ! This feature is not planned yet for the desktop wallet, but it's considered for our explorer : https://github.com/alephium/explorer/issues/41

[2022-04-25 07:44] #221 closed

[2022-04-25 08:32] Gabe324 opened #222 "Invalid value for: body (missing keys in dictionary: alphAmount at index 192: decoding failure)"
getting this error when i try to to transfer ALPH

"Invalid value for: body (missing keys in dictionary: alphAmount at index 192: decoding failure)"

[2022-04-25 08:33] mvaivre commented on #222
Please see https://github.com/alephium/desktop-wallet/issues/218 and update your wallet to the latest version. Thanks!

[2022-04-25 08:33] #222 closed

[2022-04-28 08:12] bartJoosten opened #223 "can't send alephium coins to exchange"
when i try to send tokens to an exchange , i get an error ...
invalid value for : body (missing keys in directory :alphamount at index 193: decoding failure)

somebody who knows what's wrong here ?

[2022-04-28 08:13] nop33 commented on #223
Here's what you are looking for: https://github.com/alephium/desktop-wallet/issues/218

[2022-04-28 08:13] #223 closed

[2022-05-01 07:58] Snefy opened #225 "Can't send alephium to other alephium wallett (gate.io)"
I got this message:
Invalid value for: body (missing keys in dictionary: alphAmount at index 193: decoding failure)

[2022-05-01 12:22] polarker commented on #225
Here's what you are looking for: https://github.com/alephium/desktop-wallet/issues/218

[2022-05-01 12:22] #225 closed

[2022-05-03 00:36] dawidmosk opened #226 "Invalid value for: body (missing keys in dictionary: alphAmount at index 190: decoding failure)"
Hi,

I have problem with Desktop Wallet for maybe two weeks. Everything was working great for some time. There was no changes in wallet and pc software. On Android phone is working this same account. I see current balance, history, no additional errors. I transfer amount whole number - for example 6 alephium like in this case (i did try other numbers with dots - no changes - error). Installed agai

[2022-05-03 03:04] lf94 commented on #226
https://github.com/alephium/desktop-wallet/issues/218

[2022-05-03 03:05] #226 closed

[2022-05-03 11:59] mvaivre commented on #198
The user facing labels have been updated. When we'll have some time, there are still some internal methods that we should rename (`setAccountNameState`, `onUpdateAccountName`...)

[2022-05-04 18:41] lf94 commented on #195
Thanks Cheng!

For those reading: the design motivation documented in BIP44 doesn't match with what's been said: https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki#motivation
With that said I understand HD wallets have been satisfying one need of deriving new addresses for each transaction for a long while.

I'm tending to agreement that the current BIP44 scheme chosen is sufficient fo

[2022-05-04 18:47] lf94 commented on #206
This will be the case already right? If there were existing UTXOs to use, there'd be sufficient funds?

Yep, we need to consider anything with less than 1 confirmations to be pending / excluded from the total funds.

[2022-05-04 18:49] lf94 commented on #141
We can close this right?

[2022-05-04 18:51] lf94 commented on #56
We decided to go with WalletConnect; issue is stale.

[2022-05-04 18:51] #56 closed

[2022-05-04 18:52] lf94 commented on #175
It seems the links themselves are broken, the appropriate links are:

* https://wiki.alephium.org/wallet/Desktop-Wallet-Guide#utxo-consolidation
* https://wiki.alephium.org/wallet/Desktop-Wallet-Guide#creating-a-mining-wallet-with-4-addresses

[2022-05-04 18:53] lf94 commented on #175
Creating a test which relies on an external service isn't great; I suggest we just make sure the links are deployed already / near the same time.

[2022-05-05 06:38] nop33 commented on #195
Well, now it's a bit late. People have already created through the desktop wallet their "separation of funds" addresses whose derivation paths are `1234'/0'/0'/0/X`, not `1234'/0'/X'/0/0`. If we decided to align with BIP44, we would now need to somehow discover and migrate those addresses. This will create a bad UX, cause their addresses will need to change.

[2022-05-05 06:42] nop33 commented on #141
I don't think so. We haven't implemented an "Automatic update system". We settled for informing the user that a new version is available and letting them download it themselves from GitHub. But maybe we want to keep it open and work on it in the future, once we figure out how to eliminate the security concerns? Many wallets have this feature, and honestly, it's a great UX to not have to download i

[2022-05-05 08:56] mvaivre commented on #141
Yep, agreed with @nop33, I'd keep this open - we should really think about how to offer this in a secure way. It's a UX must have.

[2022-05-05 09:10] mvaivre commented on #175
IMO we will never be able to ensure that all the links are updated (and that a release is done) ahead of every article change (especially since other non-dev can be responsible for updating the wiki).
I prefer having a test fail rather than a dead link.
If a test fails and we realise that it's just a temporary issue, we can simply bypass the test. But it would force us to investigate.

[2022-05-05 09:27] mvaivre commented on #195
I havent's answered before because we can achieve the same UX with either multi-accounts/single-address (m / 44' / 1234' / accountIndex') or single-account/multi-addresses (m / 44' / 1234' / 0' / 0 / addressIndex).
So I'm trusting Cheng on this :)

[2022-05-05 09:34] nop33 commented on #175
I think adding a test will become every easier when we start translating our content. We will then have to move all our content to json or yaml or md files. We can then tell a GitHub Actions script to always parse those files, look for links, and validate them. I guess the same can be done with ts files.

[2022-05-05 16:11] lf94 commented on #195
Let's stick with the current scheme then. :slightly_smiling_face:

[2022-05-05 16:11] #195 closed

[2022-05-05 16:18] lf94 commented on #141
I thought it was a matter of privacy and security; ok, sure!

I think the security concerns are inherent to the method itself and can't be removed entirely. If there is a supply chain attack or similar all our users will be infected at the same time. I think software companies like Google and Mozilla can offer automatic updates to their browsers because they have dedicated teams each worth probabl

[2022-05-05 16:31] #213 closed, assigned to lf94

[2022-05-05 16:35] lf94 commented on #175
Do we truly want to test _all_ links to the Internet?

I can create a test that searches for links in our source code and test them all.

[2022-05-05 18:21] lf94 commented on #13
What does this issue entail?

[2022-05-05 18:22] lf94 commented on #51
What is the motivation or user story for this feature?

[2022-05-05 18:23] lf94 commented on #45
We don't support the wallet as a browser extension.

[2022-05-05 18:23] #45 closed

[2022-05-05 18:24] lf94 commented on #11
Once again: desktop-wallet does not support being a web extension.

[2022-05-05 18:24] #11 closed

[2022-05-05 21:22] lf94 commented on #61
Update: WalletConnect integration went well and @polarker is currently working on it further.

[2022-05-06 00:25] lf94 commented on #209
Noting the root cause:

The issue here is a 4px margin on each side, making them "squish".

[code]

I think @mvaivre did this because without it, the icons in the theme switcher look wonky depending where the switch is!

A comparison:

Without 4px: ![1651796581](https://user-images.githubusercontent.com/547923/167047254-186d4a99-c407-43b4-8863-372086ad1c21.png)
With 4px: ![1651796483](https://user

[2022-05-06 01:24] lf94 commented on #92
Discussion should exist to determine:

* Reason UI tests should exist
* Do we have the resources to maintain the tests
* What testing framework do we want to use

[2022-05-06 09:03] polarker commented on #13
It was about Wallet security when it connects to a centralized full node and explorer backend.

[2022-05-06 11:35] lf94 commented on #13
Better late than never I guess :slightly_smiling_face: Thanks for the explanation.

[2022-05-06 16:05] lf94 commented on #206
I can't reproduce on testnet. I think it may have to do with your local devnet setup?

[2022-05-06 16:13] lf94 commented on #206
So the error is actually coming from the node... so the node can't build a TX with a zero confirmation UTXO then? Ok.

[2022-05-06 17:42] lf94 commented on #206
The more I think about this the more unsure I am of it...

Is this going to involve making a request for every single transaction to check its confirmation status?

[2022-05-06 18:54] Ploddles opened #234 "Add Export feature to the wallet"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when there is no way to export transactions to a CSV file. Most other wallets offer this feature which is important to me to be able to import and track everything in a spreadsheet. Also important to enable importing into coin tracking and reporting software for tax filing etc

**Describe the solution you'd li

[2022-05-07 07:37] polarker commented on #234
It's under investigation right now: https://github.com/alephium/explorer/issues/41. Please follow up there.

[2022-05-07 07:37] #234 closed

[2022-05-09 00:19] donkurami opened #235 "witdraw problem"
i cant withdraw my only 51 alph

[2022-05-09 00:31] lf94 commented on #235
Could you gives more details please? 😌

[2022-05-09 05:29] tdroxler commented on #51
You can secure the node's API with an API-Key, but then if a desktop wallet is pointing to that node, it won't be able to make transfer as we can't configure the api-key.

[2022-05-09 07:28] nop33 commented on #235
Please use our Discord for assistance :)

[2022-05-09 07:28] #235 closed

[2022-05-09 07:33] nop33 opened #236 "Additional wallet displayed is existing wallets"
**Describe the bug**
Given a wallet with the name `walletXYZ`, when opening the wallet, an additional wallet is displayed with name `YZ-addresses-metadata`.

The encrypted data of a wallet are stored in a localStorage entry with the key `wallet-<WALLET-NAME>`. So, the wallet called `walletXYZ` has an entry with the key `wallet-walletXYZ`. The problem is that we [use the `accountName` (aka wallet n

[2022-05-09 08:18] nop33 commented on #141
I think we shouldn't :)

[2022-05-09 10:01] nop33 commented on #92
I agree writing/maintaining UI tests is a pain in the 🍑

I would argue that it is very time consuming (I was testing for days before the last release).

Every time we find a bug and we fix it, we need to test everything again, cause we might have introduced another bug (it happened in the last release that a fix introduced another bug).

[2022-05-09 10:31] nop33 commented on #206
I think it's a UI issue. I guess the wallet should not consider all transactions returned from the `addresses.getAddressesAddressTransactions` endpoint as confirmed, but only those with `toGroupConfirmations >= 1`. However, `toGroupConfirmations` is not available in the endpoint response...

[2022-05-09 12:36] lf94 commented on #51
That's kind of what I was originally thinking; that's why I'd like to see a motivation / user story ... !

[2022-05-09 12:41] lf94 commented on #206
Exactly, we have a need for more information in a transaction information API request. We can't be making an additional request for every single transaction to get their confirmations.

Mhm, it is a UI issue, sorry if it seemed like I was expressing something else; I meant that the node error we're showing when trying to submit the TX is coming from the node and not within the wallet itself.

/cc

[2022-05-09 13:59] lf94 commented on #92
It's time consuming, but at least the time is being used in a effective manner, rather than fighting a test framework and reworking many tests, and UI tests can throw false positives.

I agree bringing in the community would be even better, and usually more representative of how the wallet will be used by average people.

[2022-05-09 14:12] #212 closed

[2022-05-09 14:54] mvaivre commented on #17
@polarker Do you think that now is a good time to look into this? IMO, this would be a great way to increase security before supporting hardware wallets. WDYT?

[2022-05-09 15:02] #215 closed

[2022-05-09 15:08] tdroxler commented on #17
oh yes, I will finally be able to use my address with the desktop wallet :)

[2022-05-09 15:18] polarker commented on #17
@mvaivre yeah, it's good to have it if we don't have other priorities.

As far as I know, there are two approaches to support this:
1. add an optional passphrase for each wallet and ask users to provide the passphrase every time users access the wallet. In this approach, the passphrase is stored in the secret file.
2. each wallet can use any passphrase, and we don't store the passphrase in the sec

[2022-05-09 15:52] nop33 commented on #17
FYI, we have 3 requirements for this task: https://github.com/alephium/desktop-wallet/issues/17#issuecomment-1009992481

[2022-05-09 15:58] polarker commented on #17
Thanks for the info.

It's close to the first approach I mentioned. I personally like it, but as I mentioned the second approach is more popular. I don't have any strong opinions.

[2022-05-09 15:59] #175 closed

[2022-05-09 16:03] polarker commented on #17
For example, I believe Ledger should be following the second approach. I don't have that much time to argue about the details. @polto should be able to help I think.

[2022-05-10 08:53] nop33 commented on #192
I suppose then that all English texts from the wallet would live inside a yaml or json file, right? Then, maybe we could find some tools that integrate with GitHub and allow the community to easily make PRs to add translations! win-win!

[2022-05-10 12:44] lf94 commented on #192
It'd be better to use more official internationalization technology like `gettext`: https://en.wikipedia.org/wiki/Gettext
It's fairly ubiquitous.

[2022-05-11 06:41] #236 closed

[2022-05-16 05:03] StephLez opened #241 "Error on sending tokens to my Gate.io address"
Hi i am getting this error when trying to send tokens to my Gateio address.
After entering the recipient address and the amount and hitting the check button i am getting the following error msg: "invalid value for: body (missing keys in dictionary: alphAmount at index 193: decoding failure).
Thks for ur help
Stephan
BTW: This is my first attempt in doing this, so i might be missing somethg
![IMG_1

[2022-05-16 05:12] StephLez commented on #241
Problem SOLVED :) by checking the "issues" on github i downloaded the new version 1.20 .....

[2022-05-16 05:23] #241 closed

[2022-05-17 15:14] lf94 commented on #17
Note: The feature is moving forward using the proposal. No longer in investigation.

[2022-05-18 13:49] #209 closed

[2022-05-18 13:51] lf94 commented on #192
/cc @mvaivre @nop33 what tech do you want to settle on?

[2022-05-18 14:00] lf94 commented on #191
I think no research / investigation needs to happen. The conventions are clear that everything needs to be accessible via the keyboard, mostly by using tab to select next or previous elements and the usual.

[2022-05-18 14:07] lf94 opened #243 "Prevent jarring popups when network is changed"
See https://github.com/alephium/desktop-wallet/pull/230#pullrequestreview-965835479 for context and a possible solution.

[2022-05-19 08:01] nop33 commented on #192
I don't know what tools are out there, I would need to do research. But first, we gotta define our requirements. I would propose the following requirements, please, feel free to extend:
1. Good integration with React
2. We can easily involve the community in adding translations (there are easy to use tools available for non-tech people)

[2022-05-22 22:09] jchauca14 opened #246 "Problem to sending Alephium coins"
Hi, i have a problem to sending my alephium coins to Gate.io EXCHANGE. I put my address but i have a message: "Invalid value for: body (missing keys in dictionary: alphAmount at index 193: decoding failure)". I need your help to solve this problem. Thank you.

![Problema alephium](https://user-images.githubusercontent.com/79286319/169718053-0fcf25e4-d0f5-4d5a-acd0-e0980a974df2.jpg)

[2022-05-22 22:10] polarker commented on #246
Check here: https://github.com/alephium/desktop-wallet/issues/218 You will need to upgrade your wallet.

[2022-05-22 22:10] #246 closed

[2022-05-24 12:27] mvaivre commented on #192
As said in the description, I had some good experiences with [react-i18next](https://react.i18next.com/)! It's lightweight, straightforward, ships with a handy `useTranslation` hook, and is based on simple json files. But I'm curious to see of new alternatives exist.

[2022-05-24 12:29] LeeAlephium commented on #192
Well like I said, `po` files are accepted by a lot of translation services, whereas json which can be structured in any way may not be as common (non-standard)... Haven't gotten around to looking at anything but I wouldn't be surprised if react-i18next reads them too or has a tool for conversion :slightly_smiling_face:

[2022-05-24 12:50] mvaivre commented on #192
After a quick research, it seems like most of the translation services now support JSON ([this](https://www.codeandweb.com/babeledit), [that](https://localazy.com/multilingual-json), [this one](https://poeditor.com/kb/json-editor), [that one](https://locize.com/) (by the creators of i18next)...), and there are ways to convert [po <-> json](http://docs.translatehouse.org/projects/translate-toolkit/

[2022-05-24 16:09] #69 closed

[2022-05-25 18:52] LeeAlephium commented on #206
reminder @tdroxler

[2022-05-25 18:54] LeeAlephium commented on #183
I think we could offer both the file export and WalletConnect transfer. The WC transfer could have a rogue WC entity which is capturing everyone's data, so that's the main concern there. I wouldn't recommend it in high risk cases but for everything else we can... and I think it'd be great UX. Imagine being able to just transfer your desktop wallet to phone via a simple picture...

[2022-05-25 18:57] LeeAlephium commented on #17
Note: The feature moved forward without following the proposal. See the PR for details if you're from the future reading this :)

[2022-05-27 06:25] mvaivre commented on #183
This sounds good yeah! A "sync accounts" a la Whatsapp web.

[2022-05-28 10:14] polarker opened #249 "Multisig support on desktop wallet"
Here is a draft proposal. We could add the support in two phases:

Phase 1:
* Desktop wallet exports public keys of addresses (so need a button to export public key)
* Full node builds unsigned multi-sig transactions
* Signers sign the tx using desktop wallet (so need a new TxModal for signing unsigned transactions)

Phase 2 (Optional as it might complicate the UI):
* Desktop wallet builds multi-s

[2022-05-31 09:48] mvaivre opened #250 "Add a "Show developers tools" option"
This will first be used to show/hide the "Contracts" related actions in the navbar.

[2022-06-01 08:42] nop33 opened #253 "Network switch always displays "custom""
https://user-images.githubusercontent.com/1579899/171364377-3e8113c8-4a15-4c57-9ab6-e572bbaa261f.mp4

[2022-06-07 07:55] nop33 opened #254 "WalletConnect Unauthorized pairing update request"
The following error appears in the console after establishing a connection with a dApp and refreshing the wallet:

[code]

After every new connection and a refresh, the same error gets duplicated:

<img width="1715" alt="image" src="https://user-images.githubusercontent.com/1579899/172327040-5cd70655-80ee-402d-ac94-9155bb44a658.png">

## Steps to reproduce

1. Start dev wallet with `npm run electr

[2022-06-07 07:57] nop33 commented on #254
The error does not appear when commenting out the wallet connect client initialization. However, our error handling does not catch this error.

[2022-06-07 16:31] LeeAlephium opened #256 "[$20 USD of ALPH] Improve Windows onboarding when building from scratch"
The submitted PR must explain the following in a new `BUILDING.md` file under Windows 10 and 11:

* How to install latest NodeJS
* How to install latest git
* How to open a terminal
* How to clone the repository
* How to build the project
* How to install the binary

[2022-06-07 16:51] LeeAlephium commented on #254
It may not be a trivial error: IIRC this is coming deep within WalletConnect and may not be "catchable". I remember really being stuck on it and looking through WalletConnect's own code. I'll look at another time to try and resolve it again...

[2022-06-07 17:11] LeeAlephium commented on #256
Good point; done!

[2022-06-07 17:19] DhirajSardar commented on #256
Can someone please tell how can i contribute to this issue?

[2022-06-08 01:49] DhirajSardar commented on #256
Thank You.

[2022-06-08 13:42] LeeAlephium opened #257 "Wallet crashes after opening it more than 60 times in an hour"
The wallet will crash if you open it more than 60 times in an hour 🙂

[code]

GitHub limits to 60 requests per hour for unauthenticated requests

Request in question: https://api.github.com/repos/alephium/desktop-wallet/releases/latest

You don't even have to open the wallet 60 times: visit that link more than 60 times and then open the wallet. Crash :D

[code]

Then open the wallet, should crash

[2022-06-08 15:13] LeeAlephium commented on #257
Yeah, that's the quick fix for sure

[2022-06-08 15:39] #198 closed

[2022-06-16 17:12] LeeAlephium opened #259 "Error while building the transaction: Invalid value for: body (missing keys in dictionary: attoAlphAmount at index 196: decoding failure)"

[2022-06-17 17:13] LeeAlephium commented on #254
This issue is resolved by updating the underlying walletconnect packages. For now it's irrelevant because dApp / WC functionality is not official yet, so this issue is recording information that should instead reside in a PR (which it does).

[2022-06-17 17:13] #254 closed

[2022-06-17 17:14] LeeAlephium commented on #250
Can we delete this as it's part of the dApp PR and not a release issue yet?

[2022-06-17 17:32] LeeAlephium opened #261 "Anyone can delete a wallet, no unlocking required"
Literally anyone can delete a wallet:

https://user-images.githubusercontent.com/105806603/174349216-e84892af-0cbf-46ed-b92d-4f8b9f8fe36a.mp4

[2022-06-17 18:05] diomark commented on #261
but this might be good in cases where the wallet password is lost and the user is trying to cleanup?

[2022-06-17 18:07] LeeAlephium commented on #261
Ooou, possible.

[2022-06-17 19:29] LeeAlephium commented on #253
I think this issue is causing a secondary issue of no addresses showing up on network change... I'll bisect on Monday to see when it was introduced and what we can do

[2022-06-17 19:32] LeeAlephium commented on #259
Resolved by https://github.com/alephium/js-sdk/pull/112 when updating the version in package.json

[2022-06-20 07:09] Dannywat61 opened #262 "wont let me withdraw tokens ?? Stating invaled value for body ???? please help"
![IMG_20220620_150211](https://user-images.githubusercontent.com/97338789/174544408-977e5c5b-d300-444c-a204-c9ba1afca255.jpg)
![IMG_20220620_150211](https://user-images.githubusercontent.com/97338789/174544579-51aaaf7e-4a50-4580-851f-e899ecbcdfdc.jpg)

[2022-06-20 09:43] nop33 commented on #262
Please check https://github.com/alephium/desktop-wallet/issues/218

[2022-06-20 09:43] #262 closed

[2022-06-20 11:58] LeeAlephium commented on #262
@Dannywat61  [https://github.com/alephium/desktop-wallet/issues/218](https://github.com/alephium/desktop-wallet/issues/218) (the email is probably hiding the link)

[2022-06-20 13:12] LeeAlephium commented on #261
🫡

[2022-06-20 13:12] #261 closed

[2022-06-21 12:33] #253 closed

[2022-06-21 18:48] LeeAlephium commented on #206
There are currently a few immediate solutions I see for this issue:

* alephium/alephium can use zero confirmation UTXOs to build transactions
* alephium/explorer-backend offers the needed functionality
* alephium/desktop-wallet uses the same method to calculate the confirmations as explorer but it will generate tons of network activity
* alephium/desktop-wallet makes it clear the wallet total is

[2022-06-22 15:09] JeffNeff commented on #256
Can i please be assigned this? Going to knock it out right now. @LeeAlephium

[2022-06-22 17:11] JeffNeff opened #267 "Address the Current npm Vulnerabilities"
**Describe the bug**

Running `npm audit list` in the project currently returns: `55 vulnerabilities (12 moderate, 24 high, 19 critical)`.  I know these are a PITA to address/fix, but this is a bit of a scary sight to see, especially for new adopters.

This issue is intended to track the progress in bringing this number down to a more acceptable count.

`npm audit list` on the main branch currentl

[2022-06-22 17:25] #267 closed

[2022-06-23 19:57] LeeAlephium commented on #192
i18next looks just fine then :)

https://www.i18next.com/principles/fallback#key-fallback makes me happy to see, but I'm surprised it's not recommended:

I find it's the opposite: people have preferred `po` over time because you don't lose the semantics of what you're translating, and if one is missing it will fallback to the "source of truth" translation (English). Regardless you will have to cha

[2022-06-26 20:57] Kzsolt197405 opened #268 "I can't send my coin from the wallet"
Hello,

I can't send my coins, what is the problem? Thank you in advance.
![error](https://user-images.githubusercontent.com/60464754/175833533-d7691c3b-22eb-40f7-a43f-64049f200fda.png)

[2022-06-27 06:51] mvaivre commented on #268
See https://github.com/alephium/desktop-wallet/issues/218

Please update you wallet, thank you!

[2022-06-27 06:51] #268 closed

[2022-06-28 13:51] LeeAlephium opened #270 "Add support for French"
Do we know anyone on the team who'd be up for this task or should we always outsource our translations?

[2022-06-28 15:31] LeeAlephium opened #271 "Could be cool to have smoother transition from day to night themes...!"
It'd be nice if the UI would transition from day mode to night mode, interpolating between all the colors, and having the background also transition over the day! This would remove the need for users to transition themselves by pressing the theme switcher, and make the transition less abrupt and more natural.

A wishful feature, purely for aesthetics, and it's not something I've seen anyone do...

[2022-06-28 15:35] LeeAlephium opened #272 "Provide a translation for the second most popular language demographic"
According to marketing our second most popular language demographic is Russian. Our first translation provided will have the most usage if it's Russian.

How should we procure the translation?

* Ourselves
* From an external translation service (any which @mvaivre linked https://github.com/alephium/desktop-wallet/issues/192#issuecomment-1135881289)

[2022-06-28 17:50] LeeAlephium commented on #191
All right, I've got my work cut out for me here...

"highlighted" means a border appears around the element

"triggered" means pressing space or enter activates the component

* Wallet selection modal cannot be triggered
* Create / import wallet cannot be highlighted
* Settings tabs cannot be changed
* Theme switcher cannot be highlighted
* Any toggle cannot be highlighted
* Expanding sections can

[2022-06-28 19:05] LeeAlephium commented on #191
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex#accessibility_concerns

"Use semantic HTML elements when you can over ARIA"

[2022-07-04 07:36] nop33 opened #273 "Show update message only when GitHub release version is newer than current version"
**Describe the bug**
As @mvaivre reported in https://github.com/alephium/desktop-wallet/pull/260#issuecomment-1170990495 and https://github.com/alephium/desktop-wallet/pull/260#issuecomment-1172147183, the code that checks for a **new** version on GitHub does not really check if the version it finds is newer, it only checks if it is different:

[code]

https://github.com/alephium/desktop-wallet/bl

[2022-07-04 07:46] #257 closed

[2022-07-06 08:16] nop33 opened #274 "Password modal does not open after it's been closed first"
**To Reproduce**
1. Login into a wallet
2. Click on the wallet name to switch to another wallet
3. Select a wallet
4. Do not enter password and close the dialog
5. Repeat process
6. The password dialog does not open for the same wallet

**Expected behavior**
The password dialog should always open when selecting a wallet

**Screenshots**

https://user-images.githubusercontent.com/1579899/177503619-

[2022-07-06 09:58] mvaivre commented on #136
@tdroxler This one would improve our UX a lot! Do you think we could increase priority and start looking at it / discussing it? Thanks :)

[2022-07-06 10:09] tdroxler commented on #136
Sure, let's have a call soon.

[2022-07-06 12:16] mvaivre opened #276 "Wallet + SDK: Ensure compatibility with explorer-backend 1.8.0"
**Main Changes**

- The address in the Input is now an optional value, the reason behind this: In some specific edge case, if the corresponding output ref isn't sync, we can't find the address, but it's still better to return the input, rather than missing some information.

- The `Output` schema now is either `AssetOutput` or `ContractOutput`

- **We removed the transaction hash of the Input**, a

[2022-07-06 14:10] tdroxler commented on #136
I just checked which endpoint should be called and I think I'll rather add a new one `/addresses/<address>/active` which return `true/false` if a tx exists for that address. All other endpoint are way to heavy for that task, while we can find a super light sql query to do that check.

[2022-07-06 15:07] LeeAlephium commented on #136
May want to even make it take a range instead to reduce the network requests? `/addresses/active?offset=0&range=24` so the typical case of 4 addresses plus 20 unused

[2022-07-06 15:08] mvaivre commented on #136
The endpoint mentioned by Thomas is for one address only. It basically simply check if TX were done with that address.

[2022-07-06 15:10] nop33 opened #277 "Error messages shows for every selected word after the 12 word when importing a wallet"
**Describe the bug**
When importing a wallet, an error shows after the 12th word has been entered.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to import a wallet
2. Start typing a seed
3. After the 12th word, an error will appear every time you press Enter

**Expected behavior**
The error should only appear when clicking "Continue" and the seed is invalid.

**Screenshots**

https://u

[2022-07-06 15:11] tdroxler commented on #136
we can't do this from the backend as we don't have access to the key used to derive next addresses

[2022-07-06 15:15] LeeAlephium commented on #277
I guess we need to make the event not bubble to the form

[2022-07-06 15:17] LeeAlephium commented on #136
@tdroxler user can pass a set of addresses then instead as a json array: `/addresses/active` payload: `['0xoeauaoueao', '0xsaotehusoatehuoatheua', ...]`

[2022-07-06 15:38] nop33 commented on #136
That's only true if the first 80 address indexes have 20 addresses per group. It will definitely be more than that, since we are scanning sequentially.

[2022-07-06 15:51] nop33 commented on #136
I run a script that iterates through address indexes sequentially until it finds 20 addresses per group. I run it 100 times, and the average total addresses that had to be discovered is `109`.

<details><summary>Click here for source code</summary>

[code]

</details>

[2022-07-06 15:53] LeeAlephium commented on #136
Hahah yeah, I forgot that they're indeterminate so it will definitely be more. Nice experiment man! I love it :D

[2022-07-06 15:53] tdroxler commented on #136
@LeeAlephium yes totally doable and better to suffer only once the http layer.
Response will be bool[] with (of course) the same order as the passed addresses

[2022-07-07 06:29] tdroxler commented on #136
I implemented the new way [here](https://github.com/alephium/explorer-backend/pull/291)
Path is `POST /addresses-active`, I can't use `/addresses/active` otherwise the http server think `active` is an address

[2022-07-07 07:23] tdroxler commented on #136
We should also limit the max number of addresses to pass, what's a good number for you?
As I wrote in the PR:  1000 addresses take around 0.1s, 4000 address 0.5s.
We clearly don't need that much, maybe 200 is a good limit?

[2022-07-07 07:27] nop33 commented on #136
200 sounds good to me

[2022-07-07 08:08] tdroxler commented on #136
or as cheng proposed:

so 80 it could also automatically scale when we increase group number?

[2022-07-07 08:37] nop33 commented on #136
Alright, in this case, we'll need min 2 requests, which is fine

[2022-07-07 08:48] tdroxler commented on #136
Egal for me,, what's the ideal number for you? based on group number?

[2022-07-07 09:44] tdroxler commented on #136
nice explanation thx!

Then let's do `groupNum * 20` as 20 is the number given by the BIP, at least it will make sense in few months when we see that code again :sweat_smile:

[2022-07-07 11:41] nop33 opened #279 "Animation glitch in address cards in overview page"
On `master`

https://user-images.githubusercontent.com/1579899/177765000-f234b9ee-c47a-4f98-8309-afc48406c5e6.mp4

[2022-07-07 12:22] tdroxler commented on #136
new endpoint is available here:

[code]

[2022-07-07 12:42] nop33 commented on #279
no, it's the fact that you cannot see the collapsed addresses

[2022-07-07 12:53] nop33 commented on #279
Should look like this:

<img width="534" alt="image" src="https://user-images.githubusercontent.com/1579899/177778200-c09aedfa-5193-44d8-adc1-067d221a50ce.png">

[2022-07-07 13:00] LeeAlephium commented on #136
@nop33 is right though, this'll be most likely _always_ 2 requests... I think there's a lot of evidence that 100 is a good number...!

[2022-07-07 13:16] polarker commented on #136
As we are not generating new addresses for each new transaction by default, 20 is a more than enough gap for address discovery.

I think I saw projects using around 5 addresses for discovery for Ethereum-like projects. I might not remember it exactly, but it should not be far from it.

[2022-07-07 13:31] #279 closed

[2022-07-07 13:36] nop33 commented on #136
For what it's worth, `groupNum * 20 * 2` would be a much better alternative imo :) But I'll stop discussing here and focus on building now 😇

[2022-07-08 14:30] nop33 commented on #192
When I was working for the open source software [Indico](https://github.com/indico/indico), we were using [Transefix](https://www.transifex.com/) as the service to upload our json files so that translators have a smooth experience in translating them. I remember it offers a [free tier](https://www.transifex.com/open-source/) for open source projects. Might be interesting for us.

Here's a preview

[2022-07-08 15:08] #273 closed

[2022-07-11 12:26] nop33 commented on #276
FYI, after merging https://github.com/alephium/js-sdk/pull/115, I published a new release candidate version of the SDK on NPM. Use it to ensure compatibility:

https://www.npmjs.com/package/@alephium/sdk/v/0.0.13-rc.0

[2022-07-11 12:59] nop33 commented on #183
Not sure exactly how WC internally works, but we could encrypt the data using the seed. Since the seed is available on the other devices, it would be able to decrypt the data and WC knows nothing at the end.

Hm, this would require the seed to be transfered through WC, which doesn't sound like a good idea. Unless of course we have a button in the desktop wallet that creates a QR code of the mnemon

[2022-07-11 13:05] nop33 commented on #274
@LeeAlephium I see you assigned yourself to this issue, thanks! Are you actively working on this? If you are busy with other things I could take it. I am wrapping up all PRs and issues that are needed for the 1.3.0 release. Lemme know!

[2022-07-11 13:49] LeeAlephium commented on #277
Nope I was going to tackle it next but if you're eager no problem, please self-assign :D

[2022-07-11 15:27] nop33 commented on #277
If you haven't tackled it by tomorrow I'll do it then! Done for the day, peace out!

[2022-07-12 08:20] #277 closed

[2022-07-12 14:30] #17 closed

[2022-07-12 15:08] #274 closed

[2022-07-12 15:23] #192 closed

[2022-07-12 19:18] LeeAlephium opened #287 "Invalid group number makes js-sdk explode"
https://user-images.githubusercontent.com/105806603/178576234-9d746052-2b3d-4701-b1b4-fa0da8107e1d.mp4

[2022-07-13 07:39] nop33 opened #288 "When a tx is pending, the list of available addresses in send dialog keeps changing order when clicking on them"
https://user-images.githubusercontent.com/1579899/178691473-f227073c-2255-4675-90af-e06f6ea058b8.mp4

[2022-07-13 08:08] nop33 opened #289 "Improve UX by listing current wallet (disabled) in "switch wallet list""

[2022-07-13 09:33] nop33 opened #290 "A single mouse movement cause every component to re-render"
Due to the `useIdleForTooLong` hook, after the mouse has been idle for 2s and then moves again, the whole component tree is re-rendered.

This is related to the following issues:
- #288
- #289

https://user-images.githubusercontent.com/1579899/178701492-18970da2-99a6-49b2-a6ec-2a6951995602.mp4

[2022-07-13 10:43] nop33 opened #291 "Add passphrase sentence in wallet creation screen"
Reported by @VDAODAO:

Let's add the following sentence:

[2022-07-14 10:27] #288 closed

[2022-07-14 15:06] LeeAlephium commented on #287
Caused by the accessibility changes, moving discussion to there

[2022-07-14 15:06] #287 closed

[2022-07-14 15:08] LeeAlephium commented on #287
(It's not present anymore in the accessibility branch)

[2022-07-15 09:43] mvaivre commented on #183
Just FYI, I've been experimenting with QR codes a bit. I've been able to store quite big JSON object as a code, and scan it very easily with my phone.

We could use this kind of offline transfer of info to share metadata, and/or to ease the storing / importing of mnemonic.

[2022-07-15 12:30] #290 closed

[2022-07-18 09:08] mvaivre opened #295 "Show prices in USD"
As in the mobile wallet, we will eventually show the available prices in fiat in the desktop wallet.

Designs for the desktop wallet are pending, but will certainly be inspired by our mobile designs.

**TODO**

- [ ] Overview mockup
- [ ] Asset page mockup

[2022-07-18 09:32] nop33 opened #296 "Displayed max balance does not correspond to actual precise total balance"
@Sakrecoer reported this to me today. Displayed balance is `10.00` but actual balance is `9.996`. This is due to rounding (not fees substraction). We should display a more precise total to the user.

| Problem | Solution 1 | Solution 2 |
| -------- | -------- | -------- |
| | This might get a bit too long, but at least the value will correspond to the same value the input field will have | Since t

[2022-07-18 10:28] nop33 opened #297 "Generating a wallet in offline mode does not create a main address"
<img width="1312" alt="image" src="https://user-images.githubusercontent.com/1579899/179493208-b00bc0fa-bd18-4495-9d61-544c6ad8abd2.png">

[2022-07-18 14:02] #296 closed, assigned to nop33

[2022-07-18 14:03] mvaivre commented on #295
Yeah we want to be consistent, so we'll use coingecko for the desktop wallet as well then.
It's something that could be changed easily in the future.

[2022-07-18 14:41] LeeAlephium opened #301 "Address from/to not clear on Overview"
On an address's transaction overview it's clear where funds are traveling because it shows "To/From"

![1658140876](https://user-images.githubusercontent.com/105806603/179536636-e8cc2e25-0e0b-439d-8807-80f7c2b6a870.png)

But it's very unclear on the Overview

![1658140869](https://user-images.githubusercontent.com/105806603/179536686-144a5b8a-dfa7-4b88-9a62-f87e7950725c.png)

[2022-07-18 14:47] LeeAlephium opened #302 "Easy way to copy From or To address in transaction overview"
Right now you have to click on the transaction row and copy the address from the side panel

[2022-07-18 15:08] Sakrecoer commented on #296
Still happening in rc4 @nop33 ...

![image](https://user-images.githubusercontent.com/3484593/179542679-22d51e8d-22bc-46a2-9c64-a1cad4478223.png)

![image](https://user-images.githubusercontent.com/3484593/179542740-f3ff418d-cced-446a-b889-75ac02a38fc0.png)

[2022-07-18 15:43] Sakrecoer opened #303 "Help > About menu is empty"
**Describe the bug**
Trying to access the "about" entre in the "help" menu has no effect

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "help" in the top part of the window
2. Click on 'About'
3. Nothing happens

**Expected behavior**
Some pop-up with information about the version and maybe license

**Screenshots**
![image](https://user-images.githubusercontent.com/3484593/179549364-2

[2022-07-19 06:58] mvaivre commented on #301
So, after taking a second look at my mockups, with a colder head (literally) : the idea was to keep the overview TX history uncluttered. But I agree that the current state can be confusing.

I've updated my mockups with a more complete table (note the updated - more lightweight - icons and labels, inspired by the work on the mobile version).

<img width="934" alt="image" src="https://user-images.g

[2022-07-19 08:51] mvaivre commented on #272
Let's start with french, as we can handle the translation by ourselves easily.

[2022-07-19 09:02] nop33 commented on #272
Ima add Greek in my spare time 😇

[2022-07-19 09:32] mvaivre commented on #301
Less cluttered :

<img width="1044" alt="image" src="https://user-images.githubusercontent.com/6715943/179718172-b0ed35ff-b61d-48bc-a1e9-c675143509a6.png">

[2022-07-19 14:03] nop33 opened #306 "Deleting a wallet from the home screen (not logged in) still displays the wallet in the list of wallets to login to"
https://user-images.githubusercontent.com/1579899/179769643-0b64d96c-999d-4ac1-b444-7fd0696c9b4e.mp4

[2022-07-19 16:00] LeeAlephium opened #307 "QR code does not display the correct address (mixing up)"
The QR code component is not properly rendering the associated address

[2022-07-19 16:02] LeeAlephium opened #308 "QR code scanning is not consistent across decoders"
* With Google Lens, it shows a broken URL.
* With Mika's phone "default Samsung camera app" it shows proper decoded text but incorrect address (separate issue)
* With `zbarimg` it cannot decode at all

[2022-07-21 07:05] #307 closed

[2022-08-01 19:00] LeeAlephium commented on #301
Should the new address badges be reflected in the entire application? Currently that's what I've done...

[2022-08-02 07:10] mvaivre commented on #301
Yes. Thanks :)

[2022-08-02 08:36] mvaivre commented on #276
The backend is ready to be tested. Adding this to the "Leman" release.

Note: According to Thomas, the nodes are already rocking Leman changes and support both old and updated clients. This means that we can release the "Leman" update anytime, before the hardfork actually happens.

[2022-08-02 12:30] LeeAlephium commented on #301
I'm going to extend the width a bit on the cards, the names are not useful anymore otherwise

![1659443375](https://user-images.githubusercontent.com/105806603/182374962-f00a74fd-ae55-4b6c-8f47-9596e1b567a2.png)

[2022-08-02 13:31] mvaivre commented on #301
Yeah. This section will eventually need to be redesigned. I'll take some inspiration from my work on the mobile wallet.
Two things:

- Could you center the label horizontally? :)
- This scrollbar is ugly. I think we could switch to a css scrollbar mimicking the MacOS one (which is IMO way more discreet and elegant). I'll create a task.

[2022-08-02 13:35] mvaivre opened #313 "Use custom CSS scrollbars for consistent look across OSes"
The appearance of the scrollbars on MacOS and most Linux distros is 🤢, especially with the dark theme on.

![image](https://user-images.githubusercontent.com/6715943/182387257-874c5f01-4e10-4079-b83e-3bc5232fa33b.png)

Good news: we know for sure that we're running on webkit! Thus, we don't have to use JS to create pseudo-scrollbars, we can leverage this: https://developer.mozilla.org/en-US/docs/W

[2022-08-02 16:51] LeeAlephium commented on #301
The current `api-explorer.ts` doesn't seem to support tokens yet in the `Transaction` interface. For now I'll just use "ALPH" by default

[2022-08-02 17:35] LeeAlephium commented on #301
Do we want to reflect the new transaction history design on the address details page as well? This is currently what I'm doing since UX consistency seems like a good goal. I would hide the address label but that's about all I can imagine that would need to be different...

[2022-08-03 06:23] mvaivre commented on #301
Yes.

[2022-08-03 09:28] nop33 commented on #276
You mean the explorer-backend nodes deployed at https://mainnet-backend.alephium.org ?

[2022-08-03 10:00] mvaivre commented on #276
No I meant the alephium 1.4.x nodes :)

[2022-08-03 11:46] #303 closed

[2022-08-08 13:55] mvaivre opened #315 "Make sure to use consistent wording when mentioning the recovery phrase"
In order to avoid confusing our users and community, we want to make sure to use consistent wording for important - security related - features.

Thus, instead of "secret phrase", we've decided to use `Recovery Phrase` & `Secret Recovery Phrase` when we need to put the emphasis on the need to hide the phrase.

[2022-08-09 10:16] mvaivre opened #320 "UI refresh"
While we want to keep some visual specificities between the mobile and desktop wallet, we believe that the desktop version could benefit from some visual paradigms developed for the mobile version.

This is going to be the chance for us to improve on some little visual details and deliver a near-perfect, well balanced UI ;)

**TODO:**

- [ ] Mockups: update addresses management UI
- [ ] Mockups: u

[2022-08-09 13:07] LeeAlephium commented on #109
I'll haul my Windows machine out from the basement to test since I need it anyway to access some drives...

[2022-08-09 13:21] nop33 opened #322 "Remove tests for extension pack"
We are not using the app to build an extension so we could improve the test time by removing the tests for packing an extension.

[2022-08-09 15:03] mvaivre opened #323 "Fetch pending transactions"
Placeholder. Depends on https://github.com/alephium/explorer-backend/issues/95

[2022-08-09 15:05] LeeAlephium commented on #259
Updating the node and explorer apis in js-sdk is all that's needed to correct this.

[2022-08-09 16:22] LeeAlephium commented on #313
@mvaivre or @nop33 what does macos do when the scrollbar is on a black background? Does it turn light grey?

[2022-08-09 16:29] nop33 commented on #313
yes

<img width="87" alt="image" src="https://user-images.githubusercontent.com/1579899/183706843-5cb438c4-a522-4367-883b-a682b139e2d1.png">

[2022-08-10 07:55] mvaivre commented on #313
As a reference, here's a demo of scrollbar interactions on macos. I doubt we can do exactly that with CSS only, but let's try to follow this minimalistic approach!

https://user-images.githubusercontent.com/6715943/183846304-2b728f82-af31-4211-acfd-a93fb995e6ba.mov

[2022-08-10 09:07] Magosombra opened #325 "Error while fetching data for address WALLET : (502) Unexpected token B in JSON at position 0"
**Describe the bug**
In Spanish
Cuando ingreso a la aplicacion de escritorio, ingreso mi usuario y clave, en cuanto deberia ver mis fondos sale el error mencionado en el titulo.

English Translate
When I enter the desktop application, I enter my username and password, as soon as I should see my funds, the error mentioned in the title appears.

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2022-08-10 09:13] nop33 commented on #325
One of our services to fetch wallet data is down at the moment, we are focusing on bringing it back up ASAP. Sorry for the inconvenience...

[2022-08-10 13:10] Renelavan opened #326 "Not receiving in my wallet"
I'm mining through herominers where a minimum payout 0.5 is set. On herominers site it's shown that money has been sent to my wallet, but in my wallet there are no transactions.

Can you please help me solve this issue??

Regards.

[2022-08-10 14:27] Iankurtay commented on #325
Omg thx bro. i almost got a heart attack xd

[2022-08-10 14:56] brutoeiro opened #328 "Alephium 13.0.0"
I just upgraded to the last version and lose all my ballance , appear in zero

[2022-08-10 15:44] dbriel5801 opened #329 "Wallet shows no transactions and no balance"
Just checked on my wallet and it shows no transactions, same on the block explorer. Even after update. Been mining for about 6 weeks and a few payouts per hour. Everything was showing fine last night.

[2022-08-10 15:44] LeeAlephium opened #330 "Move types in various /utils/ files to /types/"
See https://github.com/alephium/desktop-wallet/pull/316#pullrequestreview-1066196328

[2022-08-10 15:45] nop33 commented on #328
Please check this reply: https://github.com/alephium/desktop-wallet/issues/325#issuecomment-1210390945

[2022-08-10 15:45] nop33 commented on #329
Please check this reply: https://github.com/alephium/desktop-wallet/issues/325#issuecomment-1210390945

[2022-08-10 16:47] nop33 commented on #329
The problem should be resolved now. Can you confirm? Thanks! 🌸

[2022-08-10 16:48] nop33 commented on #328
The problem should be resolved now. Can you confirm? Thanks! 🌸

[2022-08-10 16:48] nop33 commented on #326
The problem should be resolved now. Can you confirm? Thanks! 🌸

[2022-08-10 16:48] nop33 commented on #325
The issue is resolved. Can you verify? Thanks! ⭐

[2022-08-10 17:01] LeeAlephium commented on #313
@mvaivre to be sure, you saw https://github.com/alephium/desktop-wallet/pull/324#issuecomment-1209775360, and we want something that is much closer to the video demo, right?

[2022-08-10 17:43] Renelavan commented on #326
Solved, now I see my funds. Thanks!

[2022-08-10 18:26] dbriel5801 commented on #329
Thank you so much

-----Original Message-----
From: Ilias Trichopoulos ***@***.***>
To: alephium/desktop-wallet ***@***.***>
Cc: dbriel5801 ***@***.***>; Author ***@***.***>
Sent: Wed, Aug 10, 2022 11:45 am
Subject: Re: [alephium/desktop-wallet] Wallet shows no transactions and no balance (Issue #329)

Please check this reply: #325 (comment)—
Reply to this email directly, view it on GitHub, or uns

[2022-08-11 06:49] mvaivre commented on #313
I had not see it nope! It's a very good start, thanks. Ideally yes, we'd like it to be closer to what's shown above:
- With a little padding so that it doesn't touch the side of the window
- A bit less contrasty (less dark / light, depending on the active theme)
- Let's make the scrollbars appear only when hovering the scrollable area (a la ledger live, or Slack)

And no track (as you made it).

[2022-08-11 06:59] #326 closed

[2022-08-11 07:00] #329 closed

[2022-08-11 12:10] nop33 opened #331 "Hide change address at a high level"
I would like to propose that when a Send transaction has “change” outputs going back to the Send address, we do not display it in the transaction details side modal. I think it’s confusing to users. We still (of course) display all the input and output UTXOs in the “Click to see more” expandable section and it’s also displayed in the explorer.

In the example below I would prefer to only see From

[2022-08-11 12:24] LeeAlephium commented on #331
I agree it should be hidden (and +1 hidden too in this case) - change address is such a passive, natural thing that it's not necessary to explicitly show this always.

Originally I thought it'd be good to educate the user on this point but it really is just noise at the end of the day, and they can check the advanced Outputs section if it really matters.

[2022-08-11 18:35] LeeAlephium commented on #313
Adding padding and having nice fade in/out is going to make this way less trivial - Slack for example creates a scrollbar component and uses this. I'll do the same then if we want these... At least we'll have very configurable scrollbars then :laughing:

[2022-08-11 18:35] Magosombra commented on #325
Everything works perfect.

Tnx to all team.

[2022-08-11 19:25] #325 closed

[2022-08-12 14:03] LeeAlephium commented on #313
https://github.com/malte-wessel/react-custom-scrollbars/issues/406 :facepalm:

[2022-08-12 16:09] #331 closed

[2022-08-12 16:09] #301 closed

[2022-08-12 17:43] LeeAlephium commented on #313
https://github.com/xobotyi/react-scrollbars-custom is working perfectly, I just have to adjust a few other places in the application where scrollbars appear and it's all good

[2022-08-14 19:40] brutoeiro commented on #328
Thank You for You kinndly reply , yes You are right, the issue was resolved.Greetings to the whole team.El 10 ago. 2022 11:48 a. m., Ilias Trichopoulos ***@***.***> escribió:

The problem should be resolved now. Can you confirm? Thanks! 🌸

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-08-15 06:58] #328 closed

[2022-08-16 14:22] LeeAlephium commented on #306
Root cause is the code only removes the address from localStorage and not the addresses context

[2022-08-16 16:01] LeeAlephium commented on #109
https://github.com/electron/electron/releases/tag/v20.0.0 Added immersive dark mode

[2022-08-16 17:07] diomark opened #334 "Copying/pasting wallet address from top bar should copy the full address"
If you try to copy the text field that shows the address name/label at the top, it only copies the first part -

i.e. -
![image](https://user-images.githubusercontent.com/20622085/184937574-2de08534-010f-4880-8cc4-59d4908b7666.png)
...simply copies..
★ 18i3yJjaXZ...

I understand we can get the address in other places.. but if a text field is copyable then it should be the full address.. (this is

[2022-08-22 10:35] ferdinandhodl opened #336 "import miner wallet"
**Is your feature request related to a problem? Please describe.**
following the [Desktop Wallet Guide](https://wiki.alephium.org/wallet/Desktop-Wallet-Guide/) a miner wallet consisting of 4 address' can be easily generated. - how can an already existing miner wallet with 4 addresses be imported? - this option seems to be missing.

**Describe the solution you'd like**
miner wallet import option

*

[2022-08-22 11:04] nop33 commented on #336
The miner wallet is just a wallet. Like any other wallet, it has a 24 word recovery phrase. This phrase can be imported in the desktop wallet. Then, in the welcome screen, one could unfold the _"Advanced settings"_ and recreate the 4 addresses (as described in the [wiki](https://wiki.alephium.org/wallet/Desktop-Wallet-Guide#creating-a-mining-wallet-with-4-addresses). Alternatively, you can recreat

[2022-08-22 11:32] ferdinandhodl commented on #336
oh snap! - now I see.
thank you @nop33

[2022-08-22 11:32] #336 closed

[2022-08-23 13:00] #322 closed

[2022-08-23 13:00] #306 closed

[2022-08-23 14:00] LeeAlephium commented on #109
Well my Window's machine appears to be dead. It won't power on at all... Going to ask some users in the Discord.

[2022-08-23 16:14] LeeAlephium commented on #334
@diomark would you expect all labels, when copied, to copy the full address?

[2022-08-23 16:18] diomark commented on #334
@LeeAlephium I think that'd be a good way to handle it. (when label is copied, copy full address)

[2022-08-23 16:25] diomark opened #338 ""Security check' is a bit annoying (put ALL in correct order??)"
(note - test wallet so ignore the seeds:) nothing there)
![image](https://user-images.githubusercontent.com/20622085/186211060-ced00612-bfba-45bb-ab4b-3741d3e7deab.png)

Right now the wallet creation requires putting all seed words back in order.. I've seen other wallets that just say enter seed #4, seed #5, seed #10, etc.. (basically spot-checking) - a more lazy way to do this.. Might be nice to

[2022-08-23 16:27] LeeAlephium commented on #338
That's a nice idea.

[2022-08-23 16:29] LeeAlephium commented on #334
@mvaivre seems custom context menus are non-trivial. Are we ok with a little copy button popup beside badges?

![Untitled](https://user-images.githubusercontent.com/105806603/186211944-1ff77fbe-d89e-4c25-acb6-568fda968a28.png)

[2022-08-23 16:54] LeeAlephium commented on #109
Confirmed working by cgi-bin! :sparkles: Even says it works without restarting the application.

![unknown](https://user-images.githubusercontent.com/105806603/186216991-6fb6428b-aa8e-4a4e-bead-af0dc1e847d5.png)

[2022-08-23 16:57] LeeAlephium commented on #109
Confirmed working by @sven-hash! :sparkles: Even says it works without restarting the application.

![unknown](https://user-images.githubusercontent.com/105806603/186218313-354a1071-7d08-4f23-a914-6d457346e58c.png)

[2022-08-24 12:22] LeeAlephium commented on #334
Related https://github.com/alephium/desktop-wallet/issues/302

[2022-08-24 14:07] mvaivre commented on #334
We could do something like this:

<img width="782" alt="image" src="https://user-images.githubusercontent.com/6715943/186439468-6d1b862d-85c3-4ece-93dd-221baf6d57db.png">

Same for labels. For extra clarity, let's add a "Copy address" tooltip when hovering the copy icon.

BTW, motice the different "copy" icon, that we should update in the address detail view :)

[2022-08-24 14:14] mvaivre commented on #338
It was a conscious choice to "force" users to take 3min to do this properly : most of them do it only once or twice and it's a crucial step.

What I had in mind though - and it goes in your direction - is to make the onboarding easier on mobile. We could experiment with the "spot-checking" approach there, and if this works well, eventually port it to the desktop wallet.

[2022-08-24 21:07] #313 closed

[2022-08-24 21:07] #315 closed

[2022-08-25 12:37] LeeAlephium opened #342 "Address Badge sizes are inconsistent"
Sometimes a star is larger larger a dot, and then those are sometimes different sizes between modals.

[2022-08-25 14:43] mvaivre commented on #342
Thanks for this issue. Could we take this opportunity to make sure that the padding between the start & label is also consistent with the padding between the dot and the label? We may need to reduce the start size a bit.
Thanks!

[2022-08-25 14:50] LeeAlephium commented on #342
It should have been consistent but I'll make sure they are :+1:

[2022-08-26 17:05] mvaivre opened #343 "Listen to OS's theme change and change app's theme accordingly"
Following #339, let's get the app's theme to change in real-time whenever the OS's theme is updated. And make sure to override the OS theme whenever the user manually change the theme. Persist that change between multiple sessions.

[2022-08-26 18:35] LeeAlephium commented on #343
Note for future us: this was already done for Linux and Windows but was problematic on Mac. It seems the issue stems from `nativeTheme`'s `update` event being fired twice.

[2022-08-29 12:51] #109 closed

[2022-08-30 07:09] mvaivre opened #345 "Use Redux for global state management"
Taking inspiration from our work on the mobile wallet, let's switch to using Redux to increase state mgmt transparency and predictability.

[2022-08-31 13:39] mvaivre opened #346 "Use colord instead of tinycolor"
Smaller lib, better perfs.

https://www.npmjs.com/package/colord

[2022-08-31 14:22] mvaivre commented on #345
As a side note, I just stumbled upon Zustand.
It's looks quite promising, more and more popular, and I'd really like to get @nop33 opinion on it when he comes back :)
I don't say that we're gonna use it in the desktop wallet instead of redux, but it's worth taking a look before we start the task!

https://www.npmjs.com/package/zustand

[2022-09-05 07:48] mvaivre opened #347 "Fix table alignement issues"
<img width="959" alt="image" src="https://user-images.githubusercontent.com/6715943/188396318-1cf0b916-ff07-4e6a-9472-8345983e2e03.png">

In the tables, columns should be of fixed length (data should be aligned), and the received / send icon should be aligned vertically.

[2022-09-05 07:56] mvaivre opened #348 "Address cards are cut when no overflow"
<img width="498" alt="image" src="https://user-images.githubusercontent.com/6715943/188398024-8c0ec7f7-4300-4a3e-9854-3cfbd511466f.png">

The cards' bottom is cut when not scrollbar is shown.

[2022-09-05 08:39] mvaivre opened #349 "TX's input / output label display is broken"
When sending from the wallet main address to any non-labeled address (external), I get this:

<img width="1114" alt="image" src="https://user-images.githubusercontent.com/6715943/188406459-2463dc20-3981-4c9a-8319-a5a807227752.png">

Issues :
- Labels are wrong (destination address);
- The amount displayed is the "rest" UTXO amount, instead of the sent amount.

cc/ @tdroxler

[2022-09-05 09:54] tdroxler commented on #349
This is probably an issue from the explorer-backend 18-rc2, I should fix it soon

[2022-09-05 22:55] LeeAlephium commented on #347
Hm, wonder if this was caused by rebase. I spent specific time on being sure alignment was perfect! :scream_cat:

[2022-09-06 06:56] mvaivre commented on #349
Solved by @tdroxler

[2022-09-06 06:56] #349 closed

[2022-09-06 08:37] mvaivre opened #350 "Use middle ellipsis for hashes"
Let's use middle ellipsis for addresses and ids. Ideally, the length should be dynamic to adapt to any parent component.

<img width="134" alt="image" src="https://user-images.githubusercontent.com/6715943/188588393-0e6a9ac2-5702-4f81-adf9-7963f2ae4607.png">

[2022-09-06 08:39] mvaivre commented on #350
Depending on backend progress, this could eventually be shipped in 1.4.0.

[2022-09-06 12:03] #191 closed, assigned to LeeAlephium

[2022-09-06 12:38] LeeAlephium commented on #347
@mvaivre I think I had already fixed this in https://github.com/alephium/desktop-wallet/pull/344 - I'm not seeing any alignment issues

[2022-09-06 12:56] LeeAlephium commented on #347
@mvaivre rebase done

[2022-09-06 16:35] mvaivre commented on #347
I haven't tested it yet, but based on your screenshot I see two things:

The "received" arrow is still not centered
<img width="49" alt="image" src="https://user-images.githubusercontent.com/6715943/188688937-ca6d3525-ac3e-4145-aef7-fb5e9d3ca652.png">

The "from" and "to" badges don't have the same color.

[2022-09-06 16:37] LeeAlephium commented on #347
Mmm, I'll have to manually adjust the vertical centering then as I did horizontal...

This is because they use different theme colors like in the mock ups, it's just way more noticeable in light mode - did we just want to make them the same overall then?

[2022-09-06 16:41] mvaivre commented on #347
Just tested, the down arrow looks better now... that's weird. The alignement issue still remains though, when amounts are large:

<img width="983" alt="image" src="https://user-images.githubusercontent.com/6715943/188690201-7b6d4e3d-45d2-42a2-9cb3-4b1863c8c5dc.png">

And yes, the "from" and "to" label should have the same color. Let's choose the darker one for the light theme.

[2022-09-06 17:36] LeeAlephium commented on #347
The arrow itself is funky it looks like... In any case, I've done some further micro-adjustments to hopefully make them centered enough. I think arrow is not symmetrical, but slightly off on one side...

[2022-09-06 20:53] mk564 opened #354 "Cant install v1.3.0 release - Windows 64bit"
Can't install v1.3.0 release for windows 64 bit, keep getting an error message that Alephium wallet is running and can't be closed. Even tried doing the install after rebooting to make sure it wasn't running.
![Error](https://user-images.githubusercontent.com/104260274/188735323-44fc59a2-6729-4b12-bc9b-f7a6a8d7d484.jpg)

If I have the wallet running it does appear to shut it down, but the same err

[2022-09-07 06:28] mvaivre commented on #348
I also realise now that the cards' title isn't centered :

<img width="477" alt="image" src="https://user-images.githubusercontent.com/6715943/188804716-3be8c110-2767-42d4-a7c4-ed43d5bc71b5.png">

[2022-09-07 13:46] LeeAlephium commented on #354
Thanks for the bug report @mk564 , we'll investigate in the next couple of weeks, as we prepare for a 1.4.0 release. To resolve issues like this is time consuming and we're a small team. We appreciate if you find a solution and report back as well :heart:

[2022-09-09 07:56] mvaivre opened #355 "Contact list"
TBD more precisely.

Draft:

We want to let our users select a recipient with confidence. One could send a TX to themselves or to an external address.
- To themselves : the user should be able to select the receiving address by selecting its label.
- To an external recipient : a contact list should be available, avoiding copy pasting mistakes.

TODO:

- [ ] Design

[2022-09-12 08:33] mvaivre opened #356 "Reorder network list"
Let's do :

[code]

[2022-09-12 09:25] mvaivre opened #357 "Muti-recipient TX sending"
Let the user send to multiple recipients in one TX.

**TODO :**

- [ ] Design

[2022-09-12 09:38] mvaivre opened #358 "Support setting lock time when sending a transaction"
Users should be able to set a lock time when sending some coins.

**TODO:**

- [x] Check address group requirements
- [x] Finish design

[2022-09-13 21:16] LeeAlephium commented on #350
https://jsfiddle.net/cLweop1n/3/ I've made it as fast as I think is possible

[2022-09-16 13:48] #346 closed

[2022-09-16 13:49] #356 closed

[2022-09-19 14:16] LeeAlephium commented on #330
Making this part of 1.5 since there will be a bunch of refactoring there

[2022-09-20 13:26] mvaivre opened #363 "Update default "mainnet" settings before release"
Sync with @tdroxler, we need to point toward the `v18` URLs by default now.

[2022-09-21 09:11] nop33 commented on #345
Hey, thanks for sharing this! I just read through the GH readme and it looks like a really neat tool for state management! The Redux Toolkit also provides some of the benefits that Zustand does in comparison to plain Redux. But for a better evaluation, we'd need to try out an in-depth comparison of the 2 tools (how do we do "this" in Redux Toolkit and how in Zustand), see if we have any improvemen

[2022-09-21 09:16] mvaivre commented on #345
Yes, that's the idea I had in mind! As a side note, we actually use Zustand in the extension already (an heritage from the Argent X wallet) :)

[2022-09-21 09:18] nop33 commented on #345
I really like how simply Zustand is handling async actions. It is true that it is quite a complicated process in Toolkit (but it's something I quickly got used to so it doesn't cause a big problem).

[2022-09-21 09:40] nop33 commented on #355
Possible duplicate of https://github.com/alephium/desktop-wallet/issues/182? 😄

[2022-09-21 11:47] mvaivre commented on #355
Yes! I knew there was one task already!

[2022-09-22 17:09] LeeAlephium opened #366 "datetime-local input cant be restricted by time"

[2022-09-26 07:38] mvaivre opened #367 "Better display of (internal) transactions"
Right now, internal transactions are displayed in the overview aggregated table as 2 rows.
We could probably do better by merging them, changing the TX symbol, and maybe display the fee.

Also, the "from/to" labelling can be confusing and can be simplified.

And finally, I'd like to re-use green to display incoming amounts.

[2022-09-26 08:28] mvaivre commented on #367
**Suggested evolution**

<img width="1007" alt="image" src="https://user-images.githubusercontent.com/6715943/192229556-ee8165ee-d3a0-42c2-af45-471d7254d943.png">

[2022-09-26 13:25] #182 closed

[2022-09-26 13:25] mvaivre commented on #182
Superseded by [#355](https://github.com/alephium/desktop-wallet/issues/355)

[2022-09-26 13:44] LeeAlephium commented on #367
Love it :)

[2022-09-26 14:43] nop33 commented on #272
Is this task completed now that https://github.com/alephium/desktop-wallet/pull/362 is merged? Or do we need more translations?

[2022-09-26 14:44] nop33 commented on #347
I think this issue is not relevant anymore, is it?

[2022-09-26 14:45] nop33 commented on #348
Was fixed by https://github.com/alephium/desktop-wallet/pull/353

[2022-09-26 14:45] nop33 commented on #350
This can be closed, right?

[2022-09-26 14:58] LeeAlephium commented on #347
For some reason GitHub has stopped auto-closing issues (maybe we reconfigured the repo to act this way) - yeah, anything you see that needs closing because it was merged please close it :pray:

[2022-09-26 14:58] #347 closed

[2022-09-26 14:59] #348 closed

[2022-09-26 14:59] LeeAlephium commented on #272
Yeah it is done

[2022-09-26 14:59] #350 closed

[2022-09-26 15:01] #342 closed

[2022-09-26 15:01] #334 closed

[2022-09-26 15:01] #302 closed

[2022-09-26 15:04] nop33 opened #370 "Ensure all locale strings are available in all languages"

[2022-09-26 15:27] LeeAlephium commented on #347
Ah, that sucks :) Oh well, no problem doing it manually anyway.

[2022-09-26 20:15] LeeAlephium commented on #323
Brief on what needs to be done:

1. After unlock, fetch pending (create PendingTxs in AddressContext)
2. Perpetually fetch pending addresses every (n + b) seconds (give time for the Tx to propagate to nodes but not yet be confirmed) - n is time to propagate, b is a fraction of avg. block time (we'll go with half since the chances of it being confirmed then is rare) - create an interval timer in Ad

[2022-09-26 20:16] LeeAlephium commented on #323
I'm going to go ahead and do it, I think it'll take half a day at most :leg:

[2022-09-26 21:35] LeeAlephium commented on #323
Taken about 1 hour and nearly done :sparkles:

[2022-09-27 13:21] #358 closed

[2022-09-27 14:18] #367 closed

[2022-09-27 14:20] nop33 commented on #218
I think we can close this one, what do you guys think?

[2022-09-27 14:21] nop33 commented on #259
Is this something that is still happening?

[2022-09-27 14:33] LeeAlephium commented on #259
Once we merge the api updates, no

[2022-09-27 14:35] nop33 commented on #354
@mk564 you mentioned you are running Windows 64bit. Which Windows version are you running? 10 or 11?

[2022-09-27 14:59] nop33 commented on #354
This issue might be related to this bug: https://github.com/electron-userland/electron-builder/issues/6865

@mk564 Any chance you can find another process that includes the word "Alephium" in its name? That would explain why you have this issue and not other windows users that we talked to.

[2022-09-27 21:33] #370 closed

[2022-09-28 06:20] mvaivre commented on #141
https://www.electronjs.org/docs/latest/tutorial/updates

I've already used the second approach, but the first one - fetching from Github releases - seems super simple and would work great for us (at least for Windows and MacOS).

[2022-09-28 07:56] mvaivre commented on #141
@killerwhile We would love your opinion on this, ie. how to guaranty a safe hosting of our releases and the safe deployment of a an update notification service. We could organize a quick intro call about this, I'll ping you on Slack. :)

[2022-09-28 13:44] LeeAlephium opened #378 "Release 1.4.0"
Modify this description to add or check off tasks needed to release 1.4.0.

Non-blockers should be their own issues.

[Testing spreadsheet](https://docs.google.com/spreadsheets/d/1sJ9-MJHhcx99auTENpJjWd7UdQtiTa0j8g9VtlOWGAc/edit?usp=sharing)

Issues to be resolved found from release testing:

* [x] Derive a changelog (at the very least to know what's new to test)
* [x] https://github.com/alephium/

[2022-09-28 14:36] #363 closed

[2022-09-28 15:45] LeeAlephium commented on #366
@mvaivre should we fix this for release?

[2022-09-28 18:54] LeeAlephium commented on #378
@nop33 without fail I've forgotten once again how to test sweeps - could you describe how they're done and we can save it somewhere for the future and I can do it?

I noticed this when going in offline mode - everything turns to "zero":

[2022-09-28 19:02] LeeAlephium commented on #378
You can delete an account but if it's selected it stays selected:

https://user-images.githubusercontent.com/105806603/192866988-f33a876a-2c43-40d6-9113-00718620bf44.mp4

[2022-09-28 19:30] nop33 commented on #378
I guess you mean how to test the consolidation feature through the send modal. You need to use the Swagger UI to build a couple of TX with many many outputs towards one of your addresses, so that when you try to send those funds back you'll get the consolidation modal poping up before sending the tx.

[2022-09-28 19:56] LeeAlephium commented on #378
"Optional passphrase" text is too high / not enough spacing between the fields:

![1664395012](https://user-images.githubusercontent.com/105806603/192876625-dea6add5-028e-454e-becf-e62f5f9be03f.png)

[2022-09-28 20:04] LeeAlephium commented on #378
An example of the incorrect amount calculation manifesting:

![1664395426](https://user-images.githubusercontent.com/105806603/192877881-ac8e453f-f6fb-42a0-8cbe-b5a06f93c575.png)

It says "0.001" locked but none is supposedly sent (I did send 0.001, not 0 + fee...)

[2022-09-28 20:29] LeeAlephium commented on #378
On the wallet import screen, it requests the recovery phrase, but also says to write it down... This doesn't make sense since it'll already be written or stored somewhere since they are importing it.

![1664396948](https://user-images.githubusercontent.com/105806603/192882324-3b290915-1124-4ea4-a6ff-6f52d58175f7.png)

[2022-09-28 20:42] LeeAlephium commented on #378
Accessibility issues:

* [ ] Pressing enter on passphrase toggle when wallet and password are entered submits the form instead of expanding the section
* [ ] Toggling the checkbox for "I understand that..." and then going to the passphrase input and typing doesnt work
* [ ] Copy buttons are being tabbed to in the transaction rows
* [ ] Double text being spoken (hidden text and the visible text) in

[2022-09-28 20:46] LeeAlephium commented on #378
@nop33 @mvaivre please add what you think is a blocker to the issue description and the rest (who knows, maybe all) can be created as separate issues

[2022-09-28 21:38] LeeAlephium commented on #378
I can't seem to invoke the consolidate modal - I created a huge transaction twice and it wasn't enough apparently? And when sending funds within the wallet it hung for loooong time and eventually showed '???' for the balance:

![1664400960](https://user-images.githubusercontent.com/105806603/192893320-acf0bd0a-4490-437d-8878-81b7a230d999.png)

[This was the data](https://gist.github.com/LeeAlephiu

[2022-09-29 07:38] lordliban opened #381 "Payment not received"
Dears ,
the pool make a withdraw to my wallet address : 1CaAaXb4CjKJeesRfETA9iwZYEjJjcuKAbfnNBJZUifzG
I didnt receive any amount of alphenium.
My adress is on mainnet and the transfer from pool  use  mainnet also .
yuo can see this payment on this link : https://explorer.alephium.org/#/addresses/1CaAaXb4CjKJeesRfETA9iwZYEjJjcuKAbfnNBJZUifzG

can you help me ?

[2022-09-29 07:54] nop33 commented on #381
Please find support on our Discord! https://discord.com/channels/747741246667227157/883355707146141737

I'm there now to chat with you :)

[2022-09-29 07:54] #381 closed

[2022-09-29 08:20] nop33 commented on #378
Thanks a lot @LeeAlephium for your thorough tests!

This format of reporting issues is not very convenient for discussing them. It'd be useful if there were discussion threads like in PRs (I know, not possible in issues).

I propose we create issues for each one of the obvious ones. When unsure, just ping on Slack:

<img width="956" alt="image" src="https://user-images.githubusercontent.com/157989

[2022-09-29 08:31] lordliban commented on #381
Sorry Sir , I think that the discord link not coreccted ?!!

[2022-09-29 08:32] mvaivre commented on #378
Great testing session, thanks a lot @LeeAlephium! 🙏
I'll create related issues.

[2022-09-29 08:38] mvaivre opened #382 "Clean UI inconsistencies"
Here's the list of UI issues left to fix (thanks @LeeAlephium !):

- [x] Don't display outlines on click, but continue to display them when selected with tab (accessibility) (https://github.com/alephium/desktop-wallet/issues/378#issuecomment-1261351090)
- [x] Increase spacing between input fields (https://github.com/alephium/desktop-wallet/issues/378#issuecomment-1261400865)
- [x] Change recovery

[2022-09-29 08:42] mvaivre opened #383 "Fix remaining accessibility issues"
Accessibility issues:

* [x] Pressing enter on passphrase toggle when wallet and password are entered submits the form instead of expanding the section
* [x] Toggling the checkbox for "I understand that..." and then going to the passphrase input and typing doesnt work
* [x] Copy buttons are being tabbed to in the transaction rows
* [x] Double text being spoken (hidden text and the visible text) in

[2022-09-29 08:44] mvaivre opened #384 "You can delete an account but if it's selected it stays selected"
That's an edge case, not of high priority. Let's fix it when we get bored (wen bored?)

        You can delete an account but if it's selected it stays selected:

https://user-images.githubusercontent.com/105806603/192866988-f33a876a-2c43-40d6-9113-00718620bf44.mp4

_Originally posted by @LeeAlephium in https://github.com/alephium/desktop-wallet/issues/378#issuecomment-1261345339_

[2022-09-29 08:55] mvaivre opened #385 "Show a dash instead of 0 balance when offline"
![1664391275](https://user-images.githubusercontent.com/105806603/192865508-08f450ab-0d6f-4477-b645-8598001a719b.png)

_Originally posted by @LeeAlephium in https://github.com/alephium/desktop-wallet/issues/378#issuecomment-1261335497_

------

Let's start by replacing zeros by a dash "-" when in offline mode.

Ideally, we should use cached data to display last known values, while clearly showing

[2022-09-29 15:11] killerwhile commented on #141
Independently of the release process, it will be highly recommanded to sign the releases with [OS-approved keys](https://github.com/electron/electron/blob/main/docs/tutorial/code-signing.md).

Releases in Github and signed are pre-requisites to [electron's update tooling](https://github.com/electron/update-electron-app), which I would highly recommend using.
I would still host the updater API ours

[2022-09-29 17:48] nop33 commented on #382
Closing since it's done by #386

[2022-09-29 17:48] #382 closed

[2022-09-29 17:51] nop33 commented on #385
I agree with all the above points. Let's start with the dash for now, and the red background (like on the mobile wallet shield icon).

[2022-09-29 17:53] nop33 commented on #276
Closing, since this was taken care of by https://github.com/alephium/desktop-wallet/pull/372

[2022-09-29 17:53] #276 closed

[2022-10-03 13:04] nop33 commented on #385
Closed via #388

[2022-10-03 13:04] #385 closed

[2022-10-03 13:05] nop33 commented on #323
Closed via #374

[2022-10-03 13:05] #323 closed

[2022-10-03 14:49] nop33 commented on #378
Based on @LeeAlephium's changelog, I've updated it to add some more:

[code]

[2022-10-03 15:12] nop33 opened #390 "Password check modal expands to the whole height of the screen"
<img width="1191" alt="image" src="https://user-images.githubusercontent.com/1579899/193612732-8753b55d-b7f2-4780-bebc-056662dd1b1c.png">

[2022-10-03 15:19] nop33 commented on #390
@LeeAlephium would u like to work on this? It seems to be related to the custom scrollbars, I thought you might be able to debug it faster than me :)

[2022-10-03 15:33] nop33 opened #391 "Modal scrollable content does not expand until the bottom"
There is a bottom padding that shouldn't be there.

| on master | on v1.4.0 |
| ------ | -------|
| <img width="1312" alt="image" src="https://user-images.githubusercontent.com/1579899/193617095-ac892e03-fd82-4d4f-8341-150f62e5c65d.png"> |  <img width="1312" alt="image" src="https://user-images.githubusercontent.com/1579899/193617560-86ef9d31-29f9-400c-9a89-119faf37eb8b.png"> |

[2022-10-03 15:51] nop33 opened #393 "Header tooltips don't work in wallet creation/import screens"
<img width="1182" alt="image" src="https://user-images.githubusercontent.com/1579899/193621376-4c9e882c-4163-42cc-907d-87b3f63ad36b.png">

[2022-10-03 16:01] nop33 opened #394 "Gas price error message is hidden"
<img width="572" alt="image" src="https://user-images.githubusercontent.com/1579899/193623763-e5fc09ef-4f94-40a7-a48a-c27db6aae1ac.png">

[2022-10-03 16:26] nop33 commented on #394
Fixed by #395

[2022-10-03 16:26] #394 closed

[2022-10-03 16:30] nop33 opened #396 "Pending transactions are not displayed on app launch in passphrase-enabled wallets unless the "refresh" button is clicked"

[2022-10-03 16:50] nop33 commented on #396
Closing via #397

[2022-10-03 16:50] #396 closed

[2022-10-03 16:51] nop33 commented on #390
Fixed by #392

[2022-10-03 16:51] #390 closed

[2022-10-04 10:26] nop33 commented on #391
This seems to have been fixed with the recent fixes. Closing.

[2022-10-04 10:26] #391 closed

[2022-10-04 10:54] nop33 opened #398 "Text in French overlaps"
<img width="1122" alt="image" src="https://user-images.githubusercontent.com/1579899/193801559-50e96467-445c-49ff-b143-25f6b013ab3c.png">

[2022-10-04 11:16] nop33 opened #399 "Pending tx on startup does not display correct amount when sending to the same address (not sweeping)"
When sending an amount that is less than the total amount from one address to another, the pending tx on startup does not display the correct amount. This is due to the fact that we sum up all outputs when we detect that all input addresses and all output addresses are the same address, because we assume that this is a consolidation tx. A solution to this is to check if there are more than 1 outpu

[2022-10-04 13:21] nop33 commented on #399
Fixed by #400

[2022-10-04 13:21] #399 closed

[2022-10-04 13:21] nop33 commented on #398
Fixed by #400

[2022-10-04 13:21] #398 closed

[2022-10-05 22:10] diomark opened #402 "'send' parameters for lock time / tweak gas settings are shown as white on white in light mode"
It's nearly impossible to see the slider for set lock time / tweak gas settings when in light mode - I have multiple screens, and on one screen I can see the difference, on the other I can't. It's hard to show this in the image below since it's screen-dependent, but I'm sure others will face this as well.
![image](https://user-images.githubusercontent.com/20622085/194172999-993e2ba8-ed92-4c54-81ac

[2022-10-05 22:15] diomark commented on #402
Here's a camera picture of my side by side screens to better show the problem here..

![image](https://user-images.githubusercontent.com/20622085/194173834-765df57a-8cf7-412f-8b9b-72679f560345.png)

[2022-10-06 09:00] nop33 commented on #402
Thanks a lot @diomark! I'll try to adjust the colors a bit!

[2022-10-06 15:41] diomark commented on #402
@nop33
![PXL_20221006_153819083](https://user-images.githubusercontent.com/20622085/194357652-ca5919e6-b607-45c5-ac5c-c9ab40609bd4.jpg)

[2022-10-06 20:36] nop33 commented on #402
I adjusted the color in this screenshot. Can you tell me how this screenshot would look like on your laptop? Is it visible now? Thanks!

<img width="633" alt="image" src="https://user-images.githubusercontent.com/1579899/194413439-5bc6cb8f-f685-4a19-bfa2-97c00298d1b6.png">

[2022-10-06 20:56] diomark commented on #402
The sliders themselves are visible now. (the gray box around the setting is still not visible but that's not that important..)
Camera pic below -
![image](https://user-images.githubusercontent.com/20622085/194417041-4bd9da8b-0ee4-4612-b397-d705638e2e3f.png)

[2022-10-06 21:29] nop33 opened #404 "Reduce CPU usage"
On our Discord it has been reported that our app uses too much CPU:

![image](https://user-images.githubusercontent.com/1579899/194421439-da0762f7-639b-4a47-bba6-5b4a179dbe16.png)

This is what I get on my M1 MacBook.

<img width="1163" alt="image" src="https://user-images.githubusercontent.com/1579899/194422127-2c84ff41-2e67-44a5-b02c-455566e765ea.png">

PS: I am getting very high values once I l

[2022-10-10 07:59] #404 closed

[2022-10-10 08:18] nop33 commented on #402
Closed via #403

[2022-10-10 08:18] #402 closed

[2022-10-11 09:53] nop33 opened #406 "Mining reward txs are not displayed in Overview page tx list"

[2022-10-18 13:42] MaudSimon opened #409 "Simplify "Tweak Gas Setting""
**Is your feature request related to a problem? Please describe.**
Currently, in our wallet, if a user wants to tweak the gas setting they are asked to enter the gas amount X and the gas price Y. Then gas fee = X * Y. (The reason for that is that the API requests these 2 values)
<img width="567" alt="image" src="https://user-images.githubusercontent.com/52083111/196444617-8836e708-2a7e-4846-96eb-3

[2022-10-18 13:59] nop33 commented on #409
![image](https://user-images.githubusercontent.com/1579899/196451097-34d6cb0e-ddc4-45ea-8fb4-24f9276b8080.png)

[2022-10-20 07:59] mvaivre opened #412 "Code signing step in release toolchain"
Implement code signing for at least Windows and MacOS to allow for secure auto-update & better trust.

https://www.electronjs.org/docs/latest/tutorial/code-signing

To be discussed with @killerwhile to add that in our distribution tool chain.

[2022-10-20 13:39] #406 closed

[2022-10-20 13:42] mk564 commented on #354
@nop33, I'm using Windows 10 Home 64bit edition

[2022-10-20 13:44] mk564 commented on #354
@nop33, the only other process as far as I can tell with "Alephium" is the installer itself.

[2022-10-21 23:24] nop33 commented on #354
One more thing that was mentioned on our Discord that might help: Could it be that you did the initial install with the "administrator" windows user and the upgrades with the "normal" one?

Did you try to uninstall the existing version right after rebooting your computer? If you did, could you then install on a clean slate the new version?

So sorry you are going through this, this is really hard

[2022-10-21 23:28] nop33 opened #413 "Add further explanations within the passphrase-enabled wallet UI to explain that some features are disabled"
<img width="852" alt="image" src="https://user-images.githubusercontent.com/1579899/197304668-41458c6b-cd85-4eb6-8a62-1439d0b4bb2e.png">

<img width="1134" alt="image" src="https://user-images.githubusercontent.com/1579899/197304694-d10ef28b-fccf-46d0-a962-91aebf91cb5e.png">

[2022-10-22 00:07] mk564 commented on #354
I tried running the Uninstall of 1.2.0.0 version and it won't run since it
thinks Alephium is still running. Even tried rebooting and Uninstaller says
same thing.

On Fri, Oct 21, 2022, 7:24 PM Ilias Trichopoulos ***@***.***>
wrote:

[2022-10-24 07:31] mvaivre commented on #412
@killerwhile Confirmed that this is going to be implemented in our tool chain, which in turn would allow #141 to be shipped.

[2022-10-24 07:34] mvaivre commented on #141
Update: @killerwhile has rolled out our own update delivery service: https://updates.testnet.alephium.org/alephium/desktop-wallet/darwin-x64/v1.3.0 🎉  (no binaries are hosted yet, but everything's in place!)

We now only need to add code signing in our toolchain (#412) before we can implement auto-update in electron.

[2022-10-25 10:56] polarker commented on #141
I was not involved in the discussion, but I prefer to hosting our releases on Github because:
1. the core team would be decentralized at some point, which means the less self-hosting services the better
2. extra work for maintenance and security.

Am I missing some points here?

[2022-10-25 13:00] Jbashimov opened #416 "Font size baseline selector"
If possible please put in ALPH wallet font size selector (small, medium, big). In bigger resolution of screen looks very unclear and small without font size select. And if possible put among colors Grey color

[2022-10-25 13:05] mvaivre commented on #416
Hey there, thanks for your feedback.
We'll take this into consideration! Accessibility is one of our priorities and in that sense a font size selector could make sense.

[2022-10-25 13:41] nop33 opened #417 "Add translations to date strings"
Possibly using https://day.js.org/docs/en/customization/relative-time.

Our transaction lists display dates like "15 minutes ago", no matter which language the user has chosen.

[2022-10-25 14:25] killerwhile commented on #141
[update.electronjs.org](https://github.com/electron/update.electronjs.org) (or, same code, different deployment, https://update.alephium.org/) are just eyes catching and redirection proxies in front of Github releases.
So the "where to store" the releases we all agree, i.e. Github. The question is which service we use to integrate electron update mechanism, since it can't pull directly from Github

[2022-10-26 11:23] #378 closed

[2022-10-27 16:23] nop33 opened #420 "Upgrade SDK to work with node 1.5.0 and explorer backend 1.9.0"
Following this: https://github.com/alephium/js-sdk/issues/130

[2022-10-30 04:00] kamalnath420 opened #421 "coins are not available after wallet recovery"
my coins are missing after recovering my wallet to another PC

[2022-10-31 07:30] mvaivre commented on #421
Hi there. If the the secret phrase you entered is correct, then the words will be there, 100%.

1) Make extra sure that you've properly entered the words.
2) Make sure that your are using the correct network (mainnet). This can be changed in settings > networks.
3) Do you see any transaction in the transaction history? Make sure that there is no withdraw transaction.

Please get to [our discord ch

[2022-10-31 07:30] #421 closed

[2022-10-31 07:50] kamalnath420 commented on #421
Dear All

All done as per your instructions but  coins are not available.

Thanks
Kamal

On Mon, Oct 31, 2022, 1:00 PM Mikaël Vaivre ***@***.***>
wrote:

[2022-10-31 08:45] tdroxler commented on #421
how did you created your wallet the first time? through the desktop-wallet or with the full-node?
If you used the full-node, maybe you had a mnemonic passphrase (known as 25' word)

[2022-10-31 08:51] kamalnath420 commented on #421
Its a desktop wallet with 24 recovery words..

On Mon, Oct 31, 2022, 2:15 PM Thomas Droxler ***@***.***>
wrote:

[2022-11-02 14:06] mvaivre opened #422 "Allow tweaking settings when the app can't connect to a network"
As of today, a loading screen is spinning forever if the wallet can't reach the network on startup. The user can't interact with the app. We should allow users to tweak the network settings when this happens.

[2022-11-05 08:32] kamalnath420 opened #423 "balance Zero after import the wallet"
after reinstalled my wallet with 24 words recovery my balance was zero.
user name - kamalnath.bandara@gmail.com

[2022-11-07 11:07] nop33 opened #424 "Replace all instance of wiki.alephium.org with docs.alephium.org"

[2022-11-07 11:43] nop33 opened #425 "Installing deps fails in macOS environment"
After `walletconnect-hc` merged into `master`.

The issue seems related to:
- https://github.com/alephium/desktop-wallet/pull/204#issuecomment-1112016791
- https://github.com/alephium/desktop-wallet/pull/248#issuecomment-1141925829

[code]

[2022-11-07 13:27] mvaivre commented on #141
@polarker What do you think?

You'd like us to :
1) Store the (signed) releases on Github
2) And use update.electronjs.org as an update server?

[2022-11-07 13:30] mvaivre commented on #423
Hi there. If the the secret phrase you entered is correct, then the words will be there, 100%.

1) Make extra sure that you've properly entered the correct secret phrase. If you still have access to the first PC, you can display the phrase by going into settings > wallets.
2) Make sure that your are using the correct network (mainnet). This can be changed in settings > networks.
3) Do you see any

[2022-11-07 13:30] #423 closed

[2022-11-07 17:35] polarker commented on #141
@mvaivre Yes, that sounds much easier to implement&provision and don't break any of security practices as far as I see.

But as I am not really familiar with electronjs, I'd like to confirm if `update.electronjs.org` is as popular as `npmjs.com`?

[2022-11-07 17:40] mvaivre commented on #141
Those two have nothing in common actually :
- `update.electronjs.org` is just a proxy service that's called by electron apps in order to know if a new version is available (on Github in our case). The service compare the version numbers, and inform the app if an update is indeed available.
- `npmjs` is used to serve modules used when developing.

[2022-11-07 17:40] polarker commented on #141
Btw, there are multiple ways to sign the releases. I am not sure which way we are going to use. The signing approach might affect our current release workflow. Please feel free to bring the discussion up later on.

[2022-11-07 17:43] mvaivre commented on #141
Yes! This is tracked [here](https://github.com/alephium/desktop-wallet/issues/412) and @killerwhile is looking into adding the signing step in the building/releasing process.

[2022-11-07 17:44] polarker commented on #141
Got it. By popular I meant if it's used by many apps. Massive adoption could give me the confidence that it's been tested well in production.

As I quickly checked, it seems the update repo is well maintained by the electron team. Do you know any big project using the service?

[2022-11-07 17:59] polarker commented on #141
It seems `update.electronjs.org` is not really that used: https://www.npmjs.com/package/update-electron-app 😅 This might change my preference.

Suppose that our releases are published on Github, what are the differences between fetching release information directly from Github vs using `update.electronjs.org`?

[2022-11-07 18:51] polarker commented on #141
That big download number sounds really promising!

[2022-11-09 09:14] mvaivre commented on #141
Here we go:

[2022-11-09 09:26] mvaivre commented on #141
Here we go:

Firefly wallet [is using](https://github.com/iotaledger/firefly/blob/ed6bce8a69542ffd2b9fcae61c88b6f0a35f5247/packages/desktop/electron/lib/appUpdater.js) `electron-updater`

[2022-11-09 09:40] mvaivre commented on #141
Here we go:

- Firefly wallet [is using](https://github.com/iotaledger/firefly/blob/ed6bce8a69542ffd2b9fcae61c88b6f0a35f5247/packages/desktop/electron/lib/appUpdater.js) `electron-updater`

- Here's their GH [build workflow](https://github.dev/iotaledger/firefly/blob/ed6bce8a69542ffd2b9fcae61c88b6f0a35f5247/.github/workflows/build-desktop.yml#L1).

- We can see [in the `electron-builder` configura

[2022-11-09 10:22] polarker commented on #141
The "user" here is Alephium organization, or desktop wallet user?

[2022-11-09 10:27] mvaivre commented on #141
That would be the end user (making the calls through their wallets).

[2022-11-09 11:00] polarker commented on #141
Then the 5000 limit is more than enough.
* if the wallet wants to check update frequently, then we could check once per wallet unlock.
* otherwise, once per day is enough

[2022-11-09 11:01] mvaivre commented on #141
Agreed. Sounds good! Let's start like this then :)

[2022-11-09 14:16] nop33 commented on #425
The issue was this line:
[code]

I had to re-install XCode, due to upgrading to macOS Ventura:

[code]

Closing issue.

[2022-11-09 14:16] #425 closed

[2022-11-09 14:54] nop33 opened #427 "Fix failing tests `TypeError: Cannot read properties of undefined (reading 'base16')`"
https://github.com/alephium/desktop-wallet/actions/runs/3428905313/jobs/5713808617

The strange thing is that only the tests fail. The app works correctly. Cheng suggests that this might have something to do with `react-scripts` loading modules for tests in a different way. The failing library has code in both esm and cjs. It might be that `react-scripts` is using the wrong module.

[2022-11-10 16:54] #424 closed

[2022-11-14 08:26] nop33 opened #429 "Change testnet endpoints and write migration script"
Change endpoints to:

[code]

[2022-11-14 08:47] tdroxler opened #430 "Implement filtering options in Transfers page"
The explorer-backend is [now exposing an endpoint to fetch txs of an address by a given time range
](https://github.com/alephium/explorer-backend/pull/378)
That could be useful in the wallet if we could use it to search a tx. It's a nice tool in any e-banking, to be able to research a tx around a given date.

Currently we would need to change the page number until finding the right date.

[2022-11-14 13:25] nop33 opened #432 "Allow user to change wallet name"
<img width="1169" alt="image" src="https://user-images.githubusercontent.com/1579899/201671460-1415880f-7d66-4e9b-a791-322c7fb2613e.png">

[2022-11-15 13:43] nop33 commented on #422
Are you sure this is the case? I don't have that spinning when in offline mode...

[2022-11-15 13:45] nop33 commented on #422
https://user-images.githubusercontent.com/1579899/201934946-a9c8c2d7-0d7d-4a42-b455-495c0de92ad7.mp4

[2022-11-16 10:13] #383 closed

[2022-11-22 13:57] mvaivre opened #436 "Numbers display: use tabular version of the font instead of mono font"
See https://rsms.me/inter/#features/tnum

[2022-11-22 17:52] #429 closed

[2022-11-22 17:52] #384 closed

[2022-11-22 17:52] #420 closed

[2022-11-23 08:46] mvaivre opened #437 "Easy wallet export to mobile (first gen.)"
Linked to #183.

Idea : we could encrypt the mnemonic and encode the resulting string in a QR code. Scanning this on the mobile wallet would ask the user for the same password used on the desktop wallet to encrypt the key.
If the password is correct, the wallet is recovered.

We could experiment with adding the metadata in the QR Code as well.

Let's see if we could ship this in 2.0.

[2022-11-23 10:47] nop33 commented on #437
Since the password is not stored anywhere, the user would need to enter their password in order to encrypt the mnemonic and show the QR code. Actually, it won't have to be the same password. As long as the same password is used to encrypt the unencrypted mnemonic on the desktop wallet side, and the same password is used on the mobile wallet on the decrypting side, it will work. It could just be a

[2022-11-23 10:57] mvaivre commented on #437
1. On the "temporary password" idea : it may be hard to explain to the user. Let me clarify what I'm suggesting here:
 - User shows the "export QR code" on the desktop by entering their usual password, as they do when they want to display the mnemonic or simply enter the wallet.
 - On the mobile, the user scan the code and enter the password used on the desktop _only once_ to allow decrypting the

[2022-11-23 17:24] mvaivre opened #438 "[Placeholder] Investigate deep linking"

[2022-11-24 13:01] nop33 commented on #422
I am closing this issue since it's not reproducable. @mvaivre feel free to open it again if I am wrong.

[2022-11-24 13:01] #422 closed

[2022-11-24 13:24] #343 closed

[2022-11-26 17:02] nop33 commented on #61
I guess this task is finished, since the 🚾 integration is there. Maybe we can create other issues for 🚾 related things and archive this one?